* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#__layout {
  background-color: #f0f2f5;
}
.nuxt-link-active {
  color: #2fc553 !important;
}

html {
  height: 100vh;
  min-height: 100%;
}
body {
  min-height: 100%;

}

.bg-hoanggia {
  background-color: #ffeb3b !important;
  box-shadow: 0 .125rem .25rem RGBa(0,0,0,.075)!important;
}

.logo-hoanggia {
  box-shadow: 0 .125rem .25rem RGBa(0,0,0,.075)!important;
  .hoanggia-name {
    color: red!important;
  }
}

.ant-drawer-body {
  padding: 24px 0 0 0!important;
}


