<template>
    <a-modal v-model="visible" :title="name" on-ok="handleOk">
      <template slot="footer" v-if="$isEmpty(response)">
        <a-button key="back" @click="handleCancel">
          Bỏ qua
        </a-button>
        <a-button key="submit" type="primary" :loading="loading" @click="handleOk">
          Nạp điểm
        </a-button>
      </template>
      <div v-if="$isEmpty(response)">
        <div class="form-group">
          <label> Chọn ví nạp điểm <sup class="text-danger">*</sup> </label>
          <a-select style="width: 100%" placeholder="Lựa chọn ví nạp điểm" @change="changeWallet">
            <a-select-option v-for="(wallet, k_wallet) in wallets" :key="k_wallet" v-if="wallet.recharge"
                             :value="wallet.id">
              {{ $isEmpty(wallet.wallet) ? '---' : wallet.wallet.name }}
            </a-select-option>
          </a-select>
        </div>
<!--        <div class="form-group">
          <label> Lựa chọn hình thức nạp <sup class="text-danger">*</sup> </label>
          <a-radio-group @change="changeType">
            <a-radio-button value="1">
              Đơn nạp chiết khấu sản phẩm
            </a-radio-button>
            <a-radio-button value="2">
              Đơn nạp góp vốn
            </a-radio-button>
          </a-radio-group>
        </div>-->
        <div class="form-group">
          <label> Nhập số điểm muốn nạp <sup class="text-danger">*</sup> </label>
          <a-input placeholder="Eg: 100.000.000" v-model="money" style="width: 100%"/>
        </div>
      </div>
      <div v-else>
        <p>Bạn vui lòng chuyển khoản <b class="text-danger">{{ $moneyFormat(response.money) }}</b> về số tài khoản
          của công ty với nội dung:
        </p>
        <p class="text-center">
          <button class="btn btn-outline-success m-auto" @click.p.prevent="$copyURL(response.transfer_content)">
            {{ response.transfer_content }}
            <br><i class="text-muted">Bấm để sao chép</i>
          </button>
        </p>
        <ul>
          <li v-for="(bank, _kb) in response.banks" :key="_kb">
            <p>Tên NH: <b>{{ bank.name }}</b></p>
            <p>
              STK NH: <button class="border-dotted d-inline btn btn-outline-success" @click.p.prevent="$copyURL(bank.account_number)">
              {{ bank.account_number }}<br><i class="text-muted">Bấm để sao chép</i>
            </button>
            </p>
            <p>Chủ tài khoản: <b>{{ bank.account_name }}</b></p>
          </li>
        </ul>
      </div>
    </a-modal>

</template>

<script>
import {mapState} from "vuex";

export default {
  data() {
    return {
      visible: true,
      name: 'Nạp điểm',
    }
  },
  beforeCreate() {
    this.$store.dispatch('account/wallets/getAll')
  },
  watch: {
    visible(newVal, oldVal) {
      this.$store.dispatch('account/deposit/setOpen', newVal)
    },
    depositOpen(newVal, oldVal) {
      this.visible = newVal
    },
    depositName(newVal, oldVal) {
      this.name = newVal
    },
  },
  computed: {
    ...mapState({
      response: state => state.account.deposit.response,
      wallets: state => state.account.wallets.list,
      wallet_id: state => state.account.wallets.wallet_id,
      depositOpen: state => state.account.deposit.open,
      loading: state => state.account.deposit.loading,
    }),
    money: {
      get: function () {
        return this.$number_format(this.$store.getters["account/deposit/money"])
      },
      set: function (val) {
        this.$store.dispatch('account/deposit/setMoney', this.$number_replace_dot(val));
      }
    }
  },
  methods: {
    changeWallet(val) {
      this.$store.dispatch("account/deposit/setWallet", val)
    },

    changeType(e) {
      this.$store.dispatch("account/deposit/setType", e.target.value)
    },
    handleOk(e) {
      this.$store.dispatch('account/deposit/handleDeposit')
    },
    handleCancel(e) {
      console.log(e);
      this.visible = false;
    },
  },
}
</script>
