<template>
  <div>
  <div class="row m-0 text-center">
    <div class="col pb-2 border-success border-bottom">
      <a href="complete_order.html" class="text-success font-weight-bold text-decoration-none">Tất cả</a>
    </div>
    <div class="col pb-2 border-bottom">
      <a href="progress_order.html" class="text-muted text-decoration-none">Chờ xác nhận</a>
    </div>
    <div class="col pb-2 border-bottom">
      <a href="canceled_order.html" class="text-muted text-decoration-none">Đang giao hàng</a>
    </div>
  </div>
    <div class="row m-0 text-center">
      <div class="col pb-2 border-bottom">
        <a href="complete_order.html" class="text-muted text-decoration-none">Đã giao hàng</a>
      </div>
      <div class="col pb-2 border-bottom">
        <a href="progress_order.html" class="text-muted text-decoration-none">Đã hủy</a>
      </div>
    </div>
  <div v-for="(o, i) in orders" class="order-body px-3 pt-3">
    <div class="pb-3">
      <nuxt-link :to="'/account/purchase/input?id='+ o.id" class="text-decoration-none text-dark">
        <div class="p-3 rounded shadow-sm bg-white">
          <div class="d-flex align-items-center mb-3">
            <p  :class=" 'bg-' + o.status.style + ' text-white py-1 px-2 mb-0 rounded small'">{{o.status.name}}</p>
            <p class="text-muted ml-auto small mb-0"><i class="icofont-clock-time"></i> {{o.created_at}}</p>
          </div>
          <div class="d-flex">
            <p class="text-muted m-0"  v-if="o.agent">Đại lý trả hàng<br>
              <span class="text-dark font-weight-bold">{{ o.agent.full_name }}</span>
            </p>
            <p class="text-muted m-0"  v-if="o.sales_booth">Đại lý trả hàng<br>
              <span class="text-dark font-weight-bold">{{ o.sales_booth.name }}</span>
            </p>
            <p class="text-muted m-0 ml-auto">Tổng tiền<br>
              <span class="text-danger font-weight-bold">{{$moneyFormat(o.grand_total)}}</span>
            </p>
          </div>
        </div>
      </nuxt-link>
    </div>
  </div>
    <MenuFooter />
  </div>
</template>
<script>
  export default {
    middleware: 'auth',
    layout: 'auth-guest',
    transition: 'zoom',
    data: () => {
      return {
        breadCrumb: [
          {
            text: 'Home',
            url: '/'
          },
          {
            text: 'User Information'
          }
        ],
        types: [
          {name: 'Tất cả', id: 1000},
          {name: 'Chờ xác nhận', id: 0},
          {name: 'Chờ lấy hàng', id: 1},
          {name: 'Đang giao', id: 2},
          {name: 'Đã giao', id: 4},
          {name: 'Đã huỷ', id: -4},
        ],
        orders: []
      };
    },
    watch:{
      $route (to, from){
        let url = this.types.find( i => i.id == to.query.type)
        this.getItemByStatus(url)
      }
    },
    created() {
      this.getApiOrders()
    },
    methods:{
      getItemByStatus: function(v){
        console.log(v)
        if(v != 1000){
          this.orders.filter(
            e =>{
              if (e.status.id === v){
                this.orders = [e]
                return this.orders
              }
            }
          )
        }else {
          this.getApiOrders()
        }
      },
      getNameProduct: function (v) {
        let name = JSON.parse(v)
        return  name.name
      },
      getImgProduct: function (v) {
        let images = JSON.parse(v)
        return  images.images[0].url
      },
      getSlugProduct: function (v) {
        let slug = JSON.parse(v)
        return  slug.slug
      },
      getIdProduct: function (v) {
        let id = JSON.parse(v)
        return  id.id
      },

      getApiOrders: function () {
        let vm = this;
        this.$api.orders.all({'customer_id': this.$auth.user.id})
          .then((res)=>{
            vm.orders = res.value.orders
          }).catch((error)=>{
          alert(error)
        })
      },
    }
  };
</script>
