<template>
  <div>
    <div class="osahan-status">
      <div class="p-3 border-bottom">
        <div class="d-flex align-items-center">
          <nuxt-link to="/account/orders/completed" class="text-decoration-none text-dark">
            <i class="icofont-rounded-left back-page"></i></nuxt-link>
          <span class="font-weight-bold ml-3 h6 mb-0">ID #{{orders.id}}</span>
          <a class="toggle ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>
        </div>
      </div>

      <div class="p-3 status-order border-bottom bg-white">
        <p class="small m-0"><i class="icofont-ui-calendar"></i> {{orders.created_at}}</p>
      </div>
      <div class="p-3 border-bottom">
        <h6 class="font-weight-bold">Trạng thái</h6>
        <div class="tracking-wrap" v-if="!$isEmpty(orders.status)">
          <div v-if="orders.status.id === 4 || orders.status.id === -4" class="step active">
            <span class="icon text-danger"><i class="icofont-close-circled"></i></span>
            <span class="text small">{{orders.status.name}}</span>
          </div>
          <div v-else class="step active">
            <span class="icon text-success"><i class="icofont-check-circled"></i></span>
            <span class="text small">{{orders.status.name}}</span>
          </div>
        </div>
      </div>

      <div class="p-3 border-bottom bg-white" v-if="!$isEmpty(orders.deliver)">
        <h6 class="font-weight-bold">Nơi trả hàng</h6>
        <p class="m-0 small">{{orders.deliver.full_name}}</p>
      </div>
      <div class="p-3 border-bottom">
        <p class="font-weight-bold small mb-1">Sản phẩm</p>
        <div v-for="(order) in orders.items">
          <div style="display: flex; margin-bottom: 10px">
            <img width="100" height="100" :src="order.image.absolute_link" class="img-fluid mr-2">
            <div style="margin-left: 20px">
              <p class="small text-success font-weight-bold">Tên sản phẩm : {{order.name}}</p>
              <p class="small text-success font-weight-bold">Số lượng : {{order.quantity}}</p>
              <p class="small text-success font-weight-bold">Giá : {{$moneyFormat(order.price_sale)}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-3 border-bottom bg-white">
        <div class="d-flex align-items-center mb-2">
          <h6 class="font-weight-bold mb-1">Tổng tiền</h6>
          <h6 class="font-weight-bold ml-auto mb-1">{{$moneyFormat(orders.grand_total)}}</h6>
        </div>
        <p class="m-0 small text-muted">You can check your order detail here,<br>Thank you for order.</p>
      </div>
    </div>
    <MenuFooter />
  </div>
</template>
<script>
export default {
  middleware: 'auth',
  layout: 'auth-guest',
  transition: 'zoom',
  data: () => {
    return {
      orders: []
    }
  },
  created() {
    this.getApiOrders()
  },
  methods:{
    getApiOrders: function () {
      let vm = this;
      this.$api.orders.show(this.$route.query.id)
        .then((res)=>{
          vm.orders = res.value.order
        }).catch((error)=>{
        alert(error)
      })
    },
  }
}
</script>
