<template>
  <div class="py-3">
    <a-spin :spinning="loading" tip="Đang tải dữ liệu..." class="btn-block">
      <div class="order-body">
        <div class="address p-3 bg-white">
          <h6 class="m-0 text-dark d-flex align-items-center">Địa chỉ nhận hàng
            <span class="small ml-auto"><nuxt-link :to="'/carts/' + $route.params.code + '/delivery-address'"
                                                   class="font-weight-bold text-decoration-none text-success"><i
              class="icofont-location-arrow"></i> Thay đổi</nuxt-link></span></h6>
        </div>
        <div class="p-3" v-if="!$isEmpty(cart.delivery_address)">
          <div class="d-flex align-items-center">
            <p class="mb-2 font-weight-bold">{{ cart.delivery_address.full_name }}</p>
          </div>
          <p class="mb-0">SĐT: {{ cart.delivery_address.mobile }}</p>
          <p class="mb-0" v-if="cart.delivery_address.email">Email: {{ cart.delivery_address.email }}</p>
          <p class="small text-muted m-0"><b>Xã, Huyện, Tỉnh</b>: {{ $getLocation(cart.delivery_address) }}</p>
          <p class="small text-muted m-0"><b>Địa chỉ google map:</b> <span>{{ cart.delivery_address.street }}</span></p>
        </div>

        <div class="address p-3 bg-white">
          <h6 class="m-0 text-dark d-flex align-items-center">Đại lý trả hàng
            <span class="small ml-auto"><nuxt-link :to="'/carts/' + $route.params.code + '/agent'"
                                                   class="font-weight-bold text-decoration-none text-success"><i
              class="icofont-location-arrow"></i> Thay đổi</nuxt-link></span></h6>
        </div>
        <div class="p-3" v-if="!$isEmpty(cart.agent)">
          <div class="d-flex align-items-center">
            <p class="mb-2 font-weight-bold">{{ cart.agent.full_name }}</p>
          </div>
          <p class="mb-0">SĐT: {{ cart.agent.mobile }}</p>
          <p class="mb-0" v-if="cart.agent.email">Email: {{ cart.agent.email }}</p>
          <p class="small text-muted m-0"><b>Xã, Huyện, Tỉnh</b>: {{ $getLocation(cart.agent) }}</p>
          <p class="small text-muted m-0"><b>Địa chỉ google map:</b> <span>{{ cart.agent.street }}</span></p>
        </div>

        <div class="p-3" v-else>
          <nuxt-link :to="'/carts/' + $route.params.code + '/agent'" class="text-info text-decoration-none w-100">
            <div class="d-flex align-items-center">
              <i class="icofont-credit-card"></i> <b class="ml-3">Lựa chọn đại lý trả hàng</b> <i
              class="icofont-rounded-right ml-auto"></i>
            </div>
          </nuxt-link>
        </div>

        <div class="address p-3 bg-white">
          <h6 class="m-0 text-dark d-flex align-items-center">Hình thức thanh toán
            <span class="small ml-auto"><nuxt-link :to="'/carts/' + $route.params.code + '/payment'"
                                                   class="font-weight-bold text-decoration-none text-success"><i
              class="icofont-location-arrow"></i> Thay đổi</nuxt-link></span>
          </h6>
        </div>
        <div class="p-3">
          <nuxt-link :to="'/carts/' + $route.params.code + '/payment/'" class="text-muted text-decoration-none w-100"
                     v-if="cart.customer_wallet_id">
            <div class="d-flex align-items-center">
              <i class="icofont-credit-card"></i> <b class="ml-3">{{
                (!$isEmpty(cart.customer_wallet)) ? cart.customer_wallet.wallet.name + ' (' +
                  $moneyFormat(cart.customer_wallet.current_balance) + ')'
                  : 'Chưa lựa chọn'
              }}</b> <i
              class="icofont-rounded-right ml-auto"></i>
            </div>
          </nuxt-link>

          <div v-else>
            <p class="mb-0">Nội dung chuyển khoản: <b class="text-success">{{
                (!isTransferMethod()) ? '---' : cart.payment_method.items.transfer_content
              }}</b></p>

            <ul v-if="isTransferMethod()">
              <li v-for="(bank, _kb) in cart.payment_method.items.banks" :key="_kb">
                <p>Tên NH: <b>{{ bank.name }}</b></p>
                <p>
                  STK NH:
                  <button class="border-dotted d-inline btn btn-outline-success" @click.p.prevent="$copyURL(bank.account_number)">
                    {{ bank.account_number }}<br><i class="text-muted">Bấm để sao chép</i>
                  </button>
                </p>
                <p>Chủ tài khoản: <b>{{ bank.account_name }}</b></p>
              </li>
            </ul>
          </div>
        </div>
        <div class="address p-3 bg-white">
          <h6 class="text-dark m-0">Thành tiền</h6>
        </div>
        <div class="p-3">
          <div class="clearfix">
            <p class="mb-1 text-muted">Tổng tiền hàng <i class="text-danger">(x{{ cart.items_sum_quantity }} sp)</i>
              <span class="float-right text-danger">{{ $moneyFormat(totalEachCart) }}</span></p>
            <p class="mb-1 text-muted">Phí vận chuyển<span class="text-info ml-1"><i
              class="icofont-info-circle"></i></span>
              <span class="float-right text-danger">{{ $moneyFormat(shippingFee) }}</span>
              <span class="float-right text-danger" v-if="!$isEmpty(distanceMatrix)">{{ distanceMatrix.text }} ~&nbsp;</span>

            </p>
            <hr>
            <h6 class="font-weight-bold mb-0">Thành tiền <span
              class="float-right text-danger">{{ $moneyFormat(totalEachCart+shippingFee) }}</span></h6>
          </div>
        </div>
      </div>
      <div class="fixed-bottom">
        <div class="osahan-menu-fotter bg-white border-top">

          <!--        <nuxt-link to="carts" class="btn btn-secondary text-white">Hủy</nuxt-link>-->
          <nuxt-link :to="'/'" class="btn btn-secondary text-white">Hủy</nuxt-link>
          <a-button block :loading="loading" type="button" @click="saveMainForm" class="btn btn-success text-white w-100">Thanh toán</a-button>

        </div>
      </div>
    </a-spin>
  </div>
</template>
<script>
import {mapGetters, mapState} from "vuex";

export default {
  name: 'CheckoutIndex',
  layout: 'cart',
  components: {},
  computed: {
    ...mapState({
      cart: state => state.carts.cart,
      loading: state => state.carts.loading,
      distanceMatrix: state => state.carts.distanceMatrix,
      shippingFee: state => state.carts.shippingFee,
      shippingFeeDiscount: state => state.carts.shippingFeeDiscount,
    }),
    ...mapGetters({
      totalEachCart: 'carts/totalEachCart'
    }),
  },
  beforeCreate() {
    this.$store.dispatch('carts/getItemCart', {code: this.$route.params.code, distanceMatrix: true})
  },
  data() {
    return {
      activeCoupon: false
    }
  },

  methods: {

    isTransferMethod() {
      return (!this.$isEmpty(this.cart.payment_method) && this.cart.payment_method.id > 1)
    },
    saveMainForm: function () {
      const vm = this
      let promise
      let payload = {
        type: vm.$route.params.code,
      }
      vm.$store.dispatch('carts/setLoading', true)
      promise = this.$api.cart.checkout(payload)
      promise
        .then(function (res) {
          if (res.success === true) {
            vm.$message.success(res.message)
            vm.$store.dispatch('carts/setCart', res.value.cart)
            vm.$router.push('/carts/' + vm.$route.params.code + '/payment/success')
          } else {
            if (!vm.$isEmpty(res.errors)) {
              res.errors.forEach(function (el) {
                vm.$message.error(el.message)
              })
            } else {
              vm.$message.error(res.message)
            }
          }
          vm.$store.dispatch('carts/setLoading', false)
        }).catch(function (error) {
        if (!vm.$isEmpty(error.response.data) && !vm.$isEmpty(error.response.data.errors)) {
          error.response.data.errors.forEach(function (el) {
            vm.$message.error(el.message)
          })
        } else {
          vm.$message.error(error)
        }
        vm.$store.dispatch('carts/setLoading', false)
      })
    }
  }
}
</script>
