<template>
  <div class="payment p-3">
    <a-spin :spinning="loadingPayment" tip="Đang tải dữ liệu..." class="btn-block">
      <div class="custom-control custom-radio px-0 mb-3 position-relative border-custom-radio"
           v-for="obj in listPaymentMethod">
        <div v-if="$isEmpty(obj.transfer_content)">
          <input type="radio" :id="'ad_'+obj.id" name="obj_selected" class="custom-control-input"
                 :checked="checked(obj)" @click="$store.dispatch('carts/setCustomerWalletSelected', obj)">
          <label class="custom-control-label w-100" :for="'ad_'+obj.id">
            <div>
              <div class="p-3 bg-white rounded shadow-sm w-100">
                <div class="d-flex align-items-center mb-2">
                  <p class="mb-0 h6">{{ obj.wallet.name }}</p>
                </div>
                <p class="mb-0 text-success">Số dư: <b>{{ $moneyFormat(obj.current_balance) }}</b></p>
              </div>
            </div>
          </label>
        </div>
        <div v-else>
          <input type="radio" :id="'ad_'+obj.transfer_content" name="obj_selected" class="custom-control-input"
                 :checked="checked(obj)" @click="$store.dispatch('carts/setCustomerWalletSelected', obj)">
          <label class="custom-control-label w-100" :for="'ad_'+obj.transfer_content">
            <div>
              <div class="p-3 bg-white rounded shadow-sm w-100">
                <div class="d-flex align-items-center mb-2">
                  <p class="mb-0 h6">Chuyển khoản</p>
                </div>
                <p class="mb-0">Nội dung chuyển khoản: <b class="text-success">{{ obj.transfer_content }}</b></p>

                <ul>
                  <li v-for="(bank, _kb) in obj.banks" :key="_kb">
                    <p>Tên NH: <b>{{ bank.name }}</b></p>
                    <p>
                      STK NH: <button class="border-dotted d-inline btn btn-outline-success" @click.p.prevent="$copyURL(bank.account_number)">
                      {{ bank.account_number }}<br><i class="text-muted">Bấm để sao chép</i>
                    </button>
                    </p>
                    <p>Chủ tài khoản: <b>{{ bank.account_name }}</b></p>
                  </li>
                </ul>
              </div>
            </div>
          </label>
        </div>
      </div>
      <div class="fixed-bottom">
        <div class="osahan-menu-fotter bg-white border-top">

          <!--        <nuxt-link :to="'/carts/'" class="btn btn-secondary text-white">Hủy</nuxt-link>-->
          <nuxt-link :to="'/'" class="btn btn-secondary text-white">Hủy</nuxt-link>
          <a-spin :spinning="loadingPayment" class="btn-block">
            <button type="button" @click="saveMainForm" class="btn btn-success text-white w-100">Tiếp tục</button>
          </a-spin>

        </div>
      </div>
    </a-spin>
  </div>
</template>
<script>
import {mapState} from "vuex";

export default {
  name: 'PaymentIndex',
  layout: 'cart',
  components: {},
  computed: {
    ...mapState({
      listPaymentMethod: state => state.carts.listPaymentMethod,
      customerWalletSelected: state => state.carts.customerWalletSelected,
      loadingPayment: state => state.carts.loadingPayment,
      cart: state => state.carts.cart,
    }),

  },
  beforeCreate() {
    this.$store.dispatch('carts/getPaymentMethod')
  },
  data() {
    return {}
  },

  methods: {
    checked: function (obj) {
      console.log(obj)
      const vm = this
      if (obj.id === vm.cart.customer_wallet_id) {
        vm.$store.dispatch('carts/setCustomerWalletSelected', obj)
        return true
      }else if (obj.transfer_content && !vm.cart.customer_wallet_id) {
        vm.$store.dispatch('carts/setCustomerWalletSelected', obj)
        return true
      }
      return false
    },
    saveMainForm: function () {
      const vm = this
      if (vm.customerWalletSelected.id === vm.cart.customer_wallet_id) {
        vm.$router.push('/carts/' + vm.$route.params.code + '/payment/checkout')
        return true
      }
      if (!this.customerWalletSelected.id && !this.customerWalletSelected.transfer_content) {
        vm.$message.warning('Vui lòng lựa chọn ví thanh toán hoặc chuyển khoản.')
      }else {

        let promise

        let payload = {
          ...this.customerWalletSelected,
          type: vm.$route.params.code,
          action: 'customer-wallet'
        }

        if (vm.customerWalletSelected.transfer_content) {
          payload.action = 'transfer-payment'
          promise = this.$api.cart.update(0, payload)
        }else {
          promise = this.$api.cart.update(payload.id, payload)
        }
        promise
          .then(function (res) {
            if (res.success === true) {
              vm.$message.success(res.message)
              vm.$router.push('/carts/' + vm.$route.params.code + '/payment/checkout')
            } else {
              if (!vm.$isEmpty(res.errors)) {
                res.errors.forEach(function (el) {
                  vm.$message.error(el.message)
                })
              } else {
                vm.$message.error(res.message)
              }
            }
          }).catch(function (error) {
          if (!vm.$isEmpty(error.response.data) && !vm.$isEmpty(error.response.data.errors)) {
            error.response.data.errors.forEach(function (el) {
              vm.$message.error(el.message)
            })
          } else {
            vm.$message.error(error)
          }
        })
      }
    }

  }
}
</script>
