<template>
  <div>
    <div class="osahan-success bg-success vh-100">
      <div class="p-5 text-center">
        <i class="icofont-check-circled display-1 text-warning"></i>
        <h3 class="text-white font-weight-bold">
          {{ !$isEmpty(cart.delivery_address) ? cart.delivery_address.full_name : '---' }}, đơn đặt hàng của bạn đã
          thành công 🎉</h3>
        <p class="text-danger">Đơn hàng sẽ được quản trị viên cập nhật chi phí vận chuyển sau !</p>
        <p class="">Kiểm tra trạng thái đơn đặt hàng của bạn tại
          <a href="/" class="font-weight-bold text-decoration-none text-primary">Đơn hàng</a> để cập nhật thông tin các
          bước tiếp theo.</p>
      </div>
    </div>
    <div class="fixed-bottom" style="height: 90px">
      <div class="osahan-menu-fotter bg-warning border-top flex-column text-center px-5 py-3">
        <p class="text-white font-weight-bold font-18 mb-1">Đang chuẩn bị đơn đặt hàng của bạn.</p>
        <p class=" mb-1">Đơn hàng của bạn đang được chuẩn bị và sẽ giao hàng trong thời gian ngắn.</p>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState, mapGetters} from "vuex";

export default {
  name: 'SuccessPage',
  layout: 'cart',
  components: {},
  computed: {
    ...mapState({
      cart: state => state.carts.cart,
    }),
  },
  mounted() {
    if (!this.cart.id) {
      return this.$router.push('/')
    }
  }
}
</script>
