  <template>
  <div>
    <MobileCategoriesBox />

<!--    <div class="py-3 bg-white osahan-promos shadow-sm">
      <div class="d-flex align-items-center px-3 mb-2">
        <h6 class="m-0">Ưu đãi dành cho bạn</h6>
        <a href="#" class="ml-auto text-success">Xem thêm</a>
      </div>
      <div class="promo-slider">
        <div class="osahan-slider-item m-2">
          <a href="promo_details.html"><img src="img/promo1.jpg" class="img-fluid mx-auto rounded"
                                            alt="Responsive image"></a>
        </div>
        <div class="osahan-slider-item m-2">
          <a href="promo_details.html"><img src="img/promo2.jpg" class="img-fluid mx-auto rounded"
                                            alt="Responsive image"></a>
        </div>
        <div class="osahan-slider-item m-2">
          <a href="promo_details.html"><img src="img/promo3.jpg" class="img-fluid mx-auto rounded"
                                            alt="Responsive image"></a>
        </div>
      </div>
    </div>-->

    <div class="title d-flex align-items-center my-3 px-3">
      <h6 class="m-0">Ưu đãi hôm nay</h6>
      <a class="ml-auto text-success" href="#">Xem thêm</a>
    </div>
    <MobileProductsBox />

  </div>
</template>

<script>
import MobileCategoriesBox from "~/components/Mobile/Partials/Categories/MobileCategoriesBox";
import MobileProductsBox from "~/components/Mobile/Partials/Products/MobileProductsBox";
import {mapState} from "vuex";
export default {
  name: 'MobileHomePage',
  components: {MobileCategoriesBox, MobileProductsBox},
  computed: {
    ...mapState({
      loadingProduct: state => state.products.loading,
    }),
  },
  data() {
    return {
    }
  }
}
</script>
