<template>
  <div>
    <div class="title d-flex align-items-center my-3 px-3">
      <h6 class="m-0">{{ category.name }}</h6>
      <b class="ml-auto text-danger">{{ total }} sản phẩm</b>
    </div>
    <MobileProductsBox />

  </div>
</template>

<script>
import MobileCategoriesBox from "~/components/Mobile/Partials/Categories/MobileCategoriesBox";
import MobileProductsBox from "~/components/Mobile/Partials/Products/MobileProductsBox";
import {mapState} from "vuex";
export default {
  layout: 'mobile',
  name: 'MobileCategoryPage',
  components: {MobileCategoriesBox, MobileProductsBox},
  computed: {
    ...mapState({
      category: state => state.categories.object,
      total: state => state.products.total,
      loading: state => state.products.loading,
    }),
  },
  beforeCreate() {
    this.$store.dispatch('categories/setObject', [])
  }
}
</script>
