<template>
  <div>
    <a-affix :offset-top="0">
      <div class="p-3 bg-white">
        <div class="d-flex align-items-center">
          <nuxt-link class="font-weight-bold text-success text-decoration-none" to="/"><i
            class="icofont-rounded-left back-page"></i> Quay lại
          </nuxt-link>
          <!-- <a class="return-home" href="/"><span style="font-weight: bold" class="text-success">Trang chủ</span></a> --->
          <a class="ml-auto font-weight-bold text-white text-decoration-none" href="fresh_vegan.html"><i
            class="icofont-heart p-2 bg-danger shadow-sm rounded-circle"></i></a>
          <a class="font-weight-bold text-white text-decoration-none ml-2" href="#"><i
            class="icofont-share p-2 bg-success shadow-sm rounded-circle"></i></a>
          <a class="toggle ml-3" href="#"><i class="icofont-navigation-menu"></i></a>
        </div>
      </div>
    </a-affix>

    <a-spin :spinning="loading" tip="Đang tải dữ liệu...">
      <div class="px-3 bg-white pb-3">
        <div class="pt-0">
          <h2 class="font-weight-bold">{{ variant.name }}</h2>
          <p class="font-weight-light text-dark m-0 d-flex align-items-center" style="font-size: 20px">
            Giá bán: &nbsp;<b class="text-danger m-0"> {{ $moneyFormat(variant.price_sale) }}</b>
            <span class="badge badge-danger ml-2" v-if="$calcDiscount(variant)"> {{ $discount(variant) }}</span>
          </p>
          <a href="review.html">
            <div class="rating-wrap d-flex align-items-center mt-2">
              <ul class="rating-stars list-unstyled">
                <li>
                  <i class="icofont-star text-warning"></i>
                  <i class="icofont-star text-warning"></i>
                  <i class="icofont-star text-warning"></i>
                  <i class="icofont-star text-warning"></i>
                  <i class="icofont-star"></i>
                </li>
              </ul>
              <p class="label-rating text-muted ml-2 small" style="font-size: 13px"> (245 Đánh giá)</p>
            </div>
          </a>
        </div>
        <div class="pt-2">
          <div class="row">
            <div class="col-6">
              <p class="font-weight-bold m-0">Vận chuyển</p>
              <p class="text-muted m-0">Miễn phí < 10km</p>
            </div>
            <div class="col-6">
              <p class="font-weight-bold m-0">Trạng thái:</p>
              <p class="text-muted m-0">Còn hàng</p>
            </div>
          </div>
        </div>
      </div>
      <div class="osahan-product">
        <div class="product-details" id="light-gallery">
          <div class="recommend-slider py-1" v-if="variant.images.length > 0">
            <a-carousel arrows>
              <div
                slot="prevArrow"
                slot-scope="props"
                class="custom-slick-arrow"
                style="left: 10px;zIndex: 1"
              >
                <a-icon type="left-circle" />
              </div>
              <div slot="nextArrow" slot-scope="props" class="custom-slick-arrow" style="right: 10px">
                <a-icon type="right-circle" />
              </div>
              <div v-for="(image, index_image) in variant.images" :key="index_image">
                <a :href="image.absolute_link" v-if="!$isEmpty(image.absolute_link)">
                  <img :src="image.absolute_link" style="height: 160px"
                       class="img-fluid mx-auto shadow-sm rounded" :alt="image.name">
                </a>
              </div>
            </a-carousel>
          </div>
          <div class="details">
            <div class="p-3 bg-white">
              <div class="d-flex align-items-center">
                <div class="btn-group osahan-radio btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active" v-for="varia in products.variants">
                    <input type="radio" name="options" id="option1" checked> {{ varia.sku }}
                  </label>
                </div>
                <div class="ml-auto" href="#">
                  <div class="input-group input-spinner ml-auto cart-items-number">
                    <div class="input-group-prepend">
                      <button class="btn btn-success btn-sm" type="button" @click="quantity++"> +</button>
                    </div>
                    <input type="number" class="form-control" min="1" v-model="quantity">
                    <div class="input-group-append">
                      <button class="btn btn-success btn-sm" type="button" @click="--quantity"> −</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-3 bg-white my-2">
<!--              <div class="input-group mb-3 rounded shadow-sm overflow-hidden bg-white">
                <div class="input-group-prepend">
                  <button class="border-0 btn btn-outline-secondary text-success bg-white"><i
                    class="icofont-search"></i></button>
                </div>
                <input type="text" class="shadow-none border-0 form-control form-control-lg pl-0"
                       placeholder="Type your city (e.g Chennai, Pune)" aria-label=""
                       aria-describedby="basic-addon1">
              </div>-->
              <p class="font-weight-bold mb-2">Mô tả sản phẩm</p>
              <p class="text-muted v-html" v-html="products.description"></p>
            </div>
            <div class="bg-white">
              <p class="px-3 pt-3 font-weight-bold">Có thể bạn sẽ thích</p>
              <MobileProductsBox />
            </div>
            <div style="padding-bottom: 68px"></div>
          </div>
        </div>

      </div>
      <div class="fixed-bottom">
        <div class="osahan-menu-fotter bg-white border-top">
        <a-button size="large" :loading="loadingCart && variantIdCheck === variant.id"
                  @click="$store.dispatch('carts/addItemToCart', {id: variant.id, quantity: quantity})" class="py-3 px-5 h4 border-0 bg-warning" style="border-radius: 0;height: 100%">
          <i class="icofont-cart text-white"></i><b class="small text-danger font-weight-bold">({{ $moneyFormat(totalEachCart) }})</b>
        </a-button>
        <nuxt-link to="/carts" class="btn btn-success btn-block">Mua ngay</nuxt-link>
      </div>
      </div>

    </a-spin>
    <a-back-top />
  </div>

</template>

<script>
import {mapGetters, mapState} from "vuex";
import MobileProductsBox from "~/components/Mobile/Partials/Products/MobileProductsBox";

export default {
  name: 'ProductDetail',
  components: {MobileProductsBox},
  computed: {
    ...mapState({
      variant: state => state.products.variant,
      products: state => state.products.object,
      loading: state => state.products.loading,
      loadingCart: state => state.carts.loading,
      variantIdCheck: state => state.carts.variantIdCheck,
      amount: state => state.carts.amount,
    }),
    ...mapGetters({
      totalEachCart: 'carts/totalEachCart'
    }),
  },
  watch: {
    quantity (newVal, oldVal) {
      if (newVal <= 0) {
        this.quantity = 1
      }
    },
  },
  data() {
    return {
      busy: false,
      quantity: 1,
      settingsSlick: {
        "dots": false,
        "infinite": false,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "centerPadding": "20px",
        "variableWidth": true,
      }
    }
  },
  beforeCreate() {
    this.$store.dispatch("products/getDetail", {slug: this.$route.params.slug})
  },
  methods: {

  }
}
</script>

<style scoped>
/* For demo */
.ant-carousel >>> .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  overflow: hidden;
}

.ant-carousel >>> .custom-slick-arrow {
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: #28a745;
  opacity: 0.3;
}
.ant-carousel >>> .custom-slick-arrow:before {
  display: none;
}
.ant-carousel >>> .custom-slick-arrow:hover {
  opacity: 0.5;
}

.ant-carousel >>> .slick-slide h3 {
  color: #fff;
}
</style>

