<template>
  <MobileHomePage />
</template>

<script>
import MobileHomePage from "~/components/Mobile/Partials/HomePage/MobileHomePage";
export default {
  layout: 'mobile',
  name: 'HomePage',
  components: {MobileHomePage}
}
</script>
