<template lang="html">
  <div>
    <div class="osahan-signin bg-white">
      <div class="border-bottom p-3 d-flex align-items-center">
        <a class="font-weight-bold text-success text-decoration-none" href="/"><i
          class="icofont-rounded-left back-page"></i>Quay lại</a>
        <!-- <a class="return-home" href="/"><span style="font-weight: bold" class="text-success">Trang chủ</span></a> --->

      </div>
      <div class="p-3">
        <h2 class="my-0">Xin chào bạn</h2>
        <p class="small">Đăng nhập để tiếp tục.</p>
        <form action="">
          <div class="form-group">
            <v-text-field
              v-model="account"
              class="ps-text-field"
              :error-messages="accountErrors"
              @input="$v.account.$touch()"
              label="Tài khoản hoặc số điện thoại"
              outlined
            />
          </div>
          <div class="form-group">
            <v-text-field
              v-model="password"
              type="password"
              class="ps-text-field"
              :error-messages="passwordErrors"
              @input="$v.password.$touch()"
              label="Mật khẩu đăng nhập"
              outlined
            />
          </div>
          <a-button :loading="loading" size="large" @click.prevent="handleSubmit" class="btn-success rounded btn-block">Đăng nhập</a-button>
        </form>
      </div>
    </div>

    <div class="osahan-fotter fixed-bottom">
      <nuxt-link :to="'/register'"  class="btn btn-block btn-lg bg-white">Bạn chưa có tài khoản đăng nhập?</nuxt-link>
    </div>
  </div>
</template>

<script>
import {email, required} from 'vuelidate/lib/validators';
import {validationMixin} from 'vuelidate';

export default {
  name: 'Login',
  middleware: 'auth',
  computed: {
    accountErrors() {
      const errors = [];
      if (!this.$v.account.$dirty) return errors;
      !this.$v.account.required && errors.push('This field is required');
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.required && errors.push('This field is required');
      return errors;
    },
  },
  data() {
    return {
      account: null,
      loading: false,
      password: null,
    };
  },
  validations: {
    account: {required},
    password: {required}
  },
  methods: {
    handleSubmit() {
      const vm = this
      vm.loading = true
      this.$v.$touch();
      if (!this.$v.$invalid) {

        this.$auth.loginWith('local', {
          data: {
            account: this.account, password: this.password
          }
        }).then((res) => {
          const {data, status} = res
          if (status === 200 && data.success === true) {
            this.$auth.strategy.token.set(data.access_token)
            this.$auth.setUser(data.user)
            vm.loading = false
          } else {

            const {message} = res
            vm.$message.error(message)
            vm.loading = false
            // Handle error here
          }
        }).catch(function (res) {
          //handle error
          vm.loading = false
          vm.$message.error('Đăng nhập thất bại')
        })
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.ps-tab-list {
  padding-left: 0;
}
</style>
