<template>
  <div v-if="host !== hostname && !$isEmpty(agent)">
    <div class="p-3 border-bottom">
      <div class="d-flex align-items-center mb-2">
        <nuxt-link to="/account/profile" class="text-decoration-none text-dark">
          <i class="icofont-rounded-left back-page"></i></nuxt-link>
        <span class="font-weight-bold ml-3 h6 mb-0">ĐL / ST trả hàng</span>
      </div>
    </div>
    <div class="p-3">
      <form>
        <div class="form-group">
          <input placeholder="Tên tài khoản liên kết trả hàng" type="text" :value="agent.account" disabled class="form-control input-form-profile">
        </div>
        <div class="form-group">
          <input placeholder="Tên đại lý trả hàng" type="text" :value="agent.full_name" class="form-control input-form-profile">
        </div>
        <div class="form-group">
          <select type="text" v-model="agent.city_id" class="form-control input-form-profile">
            <option v-for="(city) in cities" :value="city.id">{{city.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <select type="text" v-model="agent.district_id" class="form-control input-form-profile">
            <option v-for="(district) in districts" :value="district.id">{{district.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <select type="text" v-model="agent.ward_id" class="form-control input-form-profile">
            <option v-for="(ward) in wards" :value="ward.id">{{ward.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <input placeholder="Tên đại lý trả hàng" type="text" :value="agent.street"  class="form-control input-form-profile">
        </div>
        <div class="text-center">
          <button type="button" @click="created()" class="btn btn-success btn-block btn-lg">Cập nhật</button>
        </div>
      </form>
    </div>
    <MenuFooter/>
  </div>
</template>
<script>
import {mapState} from "vuex";

export default {
  data: () => {
    return {
      agent : [],
      host: process.env.HOST,
      hostname: window.location.hostname,
    }
  },
  created() {
    let vm = this;
    vm.getAgent()
    vm.$store.dispatch('locations/getCities');
    vm.$store.dispatch('locations/getDistricts',{city_id:vm.agent.city_id});
    vm.$store.dispatch('locations/getWards',{district_id:vm.agent.district_id});
  },
  computed: {
    ...mapState({
      cities: state => state.locations.cities,
      districts: state => state.locations.districts,
      wards: state => state.locations.wards,
    }),
  },
  methods :{
    getAgent: function () {
      let vm = this;
      this.$api.agent.show(this.$auth.user.id)
          .then((res)=>{
            vm.agent = res.value.agent
          }).catch((error)=>{
        alert(error)
      })
    },
    updated: function () {
      let vm = this;
      this.$api.agent.updated(vm.banks)
          .then((res)=>{
            alert(res.message)
          }).catch(function (error) {
        if (typeof error.response !== "undefined" && error.response.data.errors !== null) {
          error.response.data.errors.forEach(function (el) {
            vm.$message.error(el.message)
          })
        } else {
          vm.$message.error(error)
        }
      })
    }
  }
}
</script>
