<template>
  <div v-if="host !== hostname">
    <div class="p-3 border-bottom">
      <div class="d-flex align-items-center mb-2">
        <nuxt-link to="/account/deposit" class="text-decoration-none text-dark">
          <i class="icofont-rounded-left back-page"></i></nuxt-link>
        <span class="font-weight-bold ml-3 h6 mb-0">Tạo mới đơn nạp điểm</span>
      </div>
    </div>
    <div class="bg-white p-3">
      <form>
        <div class="form-group">
          <input  placeholder="Nhập số điểm muốn nạp" type="text" v-model="deposit.money" class="form-control input-form-profile">
        </div>
        <div class="form-group">
          <a-radio-group v-model="deposit.to_customer_wallet_id">
            <a-radio-button v-for="(wallet) in wallets" :value="wallet.id">
              {{ wallet.wallet.name }}
            </a-radio-button>
          </a-radio-group>
        </div>
        <div class="form-group">
          <a-radio-group @change="onChange">
            <a-radio-button value="1">
              Đơn nạp chiết khấu sản phẩm
            </a-radio-button>
            <a-radio-button value="2">
              Đơn nạp góp vốn
            </a-radio-button>
          </a-radio-group>
        </div>

        <div class="form-group">
          <input placeholder="Nội dung nạp điểm" v-model="deposit.note" type="number" class="form-control input-form-profile">
        </div>
        <div class="text-center">
          <button type="button" @click="created()" class="btn btn-success btn-block btn-lg">Cập nhật</button>
        </div>
      </form>
    </div>
    <MenuFooter/>
  </div>
</template>
<script>
export default {
  data: () => {
    return {
      deposit: {
        money: '',
        note: '',
        to_customer_id:'',
        to_customer_wallet_id:'',
        type: 1
      },
      wallets: [],
      host: process.env.HOST,
      hostname: window.location.hostname,
    }
  },
  watch: {
    'deposit.money': {
      handler: function (newVal, oldVal) {
        return this.deposit.money = this.$number_format(newVal)
      },
      deep: true

    }
  },
  mounted() {
    this.getWallet()
  },
  methods :{
    getWallet: function () {
      let vm = this;
      this.$api.wallets.getWalletDeposit()
        .then((res)=>{
         if(res.success === true){
           vm.wallets = res.value.wallets
           console.log(res.value.wallets)
         }else {
           alert(res.message)
         }
        }).catch((error)=>{
        alert(error)
      })
    },
    created: function () {
      let vm = this;
      let keygen = vm.$auth.user
      let tokenDeposit = ''
      Object.entries(vm.$auth.user).forEach(([key, value]) => {
        keygen = key.indexOf("$2a$12$");
        if (keygen >= 0) {
          keygen = key;
          return tokenDeposit = vm.$auth.user[key]
        }
      });
      let payload = {
        money:  vm.$number_replace_dot(vm.deposit.money),
        from_customer_id: vm.$auth.user.id,
        to_customer_id: vm.$auth.user.id,
        to_customer_wallet_id: vm.deposit.to_customer_wallet_id,
        transaction_code: 1,
        type: vm.deposit.type,
        [keygen]: tokenDeposit,
      }
      this.$api.deposit.create(payload)
        .then((res)=>{
          if (res.success === true) {
            vm.deposits = res.value.deposits
          } else {
            if (!vm.$isEmpty(res.errors)) {
              res.errors.forEach(function (el) {
                vm.$message.error(el.message)
              })
            } else {
              vm.$message.error(res.message)
            }
          }
        }).catch(function (error) {
        if (typeof error.response !== "undefined" && error.response.data.errors !== null) {
          error.response.data.errors.forEach(function (el) {
            vm.$message.error(el.message)
          })
        } else {
          vm.$message.error(error)
        }
      })
    }
  }
}
</script>
