<template>
  <div v-if="host !== hostname">
    <a-affix :offset-top="0">
      <div class="p-3 bg-white">
        <div class="d-flex align-items-center">
          <a class="font-weight-bold text-success text-decoration-none" href="javascript:void(0);"
             @click.prevent="$router.back()"><i
            class="icofont-rounded-left back-page"></i> Quay lại
          </a>
          <!-- <a class="return-home" href="/"><span style="font-weight: bold" class="text-success">Trang chủ</span></a> --->
          <div class="ml-auto nuxt-link font-weight-bold">
            <a href="javascript:void(0);" @click="$store.dispatch('filter/onOff')" class="pr-2">
              Bộ lọc
            </a>
            <a href="javascript:void(0);" class="ml-auto nuxt-link font-weight-bold pr-2" @click="$store.dispatch('account/deposit/setOpen', true)">
              Nạp điểm
            </a>
            <DepositModal v-if="depositOpen"/>
          </div>

        </div>
      </div>
    </a-affix>
    <filters :uri="$urlSeller('transactions/filters')"/>
    <a-spin tip="Đang tải dữ liệu..." :spinning="loadingTransaction">
      <div class="osahan-body px-3 pt-3" style="padding-bottom: 8rem">
        <div v-if="list.length">
          <div v-for="(deposit, key) in list">
            <div class="custom-control custom-radio px-0 mb-3 position-relative border-custom-radio">
              <input type="radio" :id="'customRadioInline'+key" name="customRadioInline1" class="custom-control-input"
                     checked>
              <label class="custom-control-label w-100" :for="'customRadioInline'+key">
                <div class="p-3 bg-white rounded shadow-sm w-100">
                  <div class="d-flex align-items-center mb-2">
                    <p class="mb-0 h6">Mã giao dịch:<b> {{ deposit.id }}</b></p>
                    <p v-if="!$isEmpty(deposit.status) && deposit.status.id === -4"
                       class="mb-0 badge badge-danger ml-auto">
                      {{ deposit.status.name }}</p>
                    <p v-if="!$isEmpty(deposit.status) && deposit.status.id === 0"
                       class="mb-0 badge badge-warning ml-auto">
                      {{ deposit.status.name }}</p>
                    <p v-if="!$isEmpty(deposit.status) && deposit.status.id === 1"
                       class="mb-0 badge badge-success ml-auto">
                      {{ deposit.status.name }}</p>
                  </div>
                  <div class="d-flex mt-3">
                    <div>
                      <p v-if="!$isEmpty(deposit.from_customer)" class="small text-muted m-0"><span class="text-info">Tài khoản nạp:</span>
                        {{ deposit.from_customer.account }}</p>
                      <p v-if="!$isEmpty(deposit.from_customer)" class="small text-muted m-0"><span class="text-info">Người nạp:</span>
                        {{ deposit.from_customer.full_name }}</p>
                    </div>
                    <div class="ml-auto">
                      <p v-if="!$isEmpty(deposit.to_customer)" class="small text-muted m-0"><span class="text-success">Tài khoản nhận:</span>
                        {{ deposit.to_customer.account }}</p>
                      <p v-if="!$isEmpty(deposit.to_customer)" class="small text-muted m-0"><span class="text-success">Người nhận:</span>
                        {{ deposit.to_customer.full_name }}</p>
                    </div>
                  </div>
                  <div class="d-flex mt-3">
                    <div>
                      <p class="small text-muted m-0"><span
                        class="text-success">Số tiền:</span> {{ $moneyFormat(deposit.last_money) }}</p>
                      <p v-if="!$isEmpty(deposit.to_customer_wallet)" class="small text-muted m-0"><span
                        class="text-success">Ví nạp:</span> {{ deposit.to_customer_wallet.wallet.name }}</p>
                    </div>
                    <div class="ml-auto">
                      <p v-if="!$isEmpty(deposit.type)" class="small text-muted m-0"><span
                        class="text-info">Loại đơn:</span> {{ deposit.type.name }}</p>
                      <p class="small text-muted m-0"><span class="text-info">Ngày tạo:</span> {{ deposit.created_at }}
                      </p>
                    </div>
                  </div>

                </div>
              </label>
            </div>
          </div>
        </div>
        <a-alert v-else
                 message="Không tìm thấy kết quả nào phù hợp với điều kiện tìm kiếm của bạn."
                 description=""
                 type="warning"
        />
      </div>

    </a-spin>
  </div>
</template>
<script>
import {mapState} from "vuex";
import DepositModal from "~/components/Mobile/Partials/Account/DepositModal";

export default {
  name: 'DepositIndex',
  layout: 'account',
  components: {DepositModal},
  computed: {
    ...mapState({
      list: state => state.account.deposit.transaction_list,
      total: state => state.account.deposit.transaction_total,
      loadingTransaction: state => state.account.deposit.loadingTransaction,
      depositOpen: state => state.account.deposit.open,
    }),
  },
  data: () => {
    return {
      loadingDeposit: true,
      deposits: [],
      host: process.env.HOST,
      hostname: window.location.hostname
    }
  },
  watch: {
    '$route.query'() {
      this.fetch(this.$route.query)
    }
  },
  created() {
    this.fetch(this.$route.query)
  },
  methods: {
    setLoading(loading) {
      this.loadingDeposit = loading
    },
    fetch: function (params = {}) {
      let vm = this;
      params = {
        count: 100,
        ...params,
      }
      vm.$store.dispatch('account/deposit/setTransactionListEmpty')
      vm.$store.dispatch('account/deposit/getAllTransaction', params)
    }
  }
}
</script>
