<template>
  <div v-if="host !== hostname">
    <div class="p-3 border-bottom">
      <div class="d-flex align-items-center mb-2">
        <nuxt-link to="/account/profile" class="text-decoration-none text-dark">
          <i class="icofont-rounded-left back-page"></i></nuxt-link>
        <span class="font-weight-bold ml-3 h6 mb-0">Lịch sử rút tiền</span>
        <nuxt-link to="/widthdrawmoney/input" class="ml-auto">
          <button type="button" class="btn btn-outline-success btn-sm " data-toggle="modal"
                  data-target="#exampleModal">Rút tiền
          </button>
        </nuxt-link>
      </div>
    </div>
    <div v-if="!$isEmpty(transitions)">
      <div v-for="(transition) in transitions">
        <div class="pb-3">
          <a href="javascript:void(0)" class="text-decoration-none text-dark">
            <div class="p-3 rounded shadow-sm bg-white">
              <div class="d-flex align-items-center mb-3">
                <p class="bg-success text-white py-1 px-2 mb-0 rounded small">{{transition.status.name}}</p>
                <p class="text-muted ml-auto small mb-0"><i class="icofont-clock-time"></i>{{transition.created_at}}</p>
              </div>
              <div class="d-flex">
                <p class="text-muted m-0">Transaction. ID<br>
                  <span class="text-dark font-weight-bold"># {{transition.id}}</span>
                </p>
                <p class="text-muted m-0 ml-auto">Số tiền rút<br>
                  <span class="text-dark font-weight-bold">{{$moneyFormat(transition.money)}}</span>
                </p>
              </div>
              <div class="d-flex mt-3">
                <p class="text-muted m-0">Khách hàng<br>
                  <span class="text-dark font-weight-bold">{{transition.customer_name}}</span>
                </p>
                <p class="text-muted m-0 ml-auto">Thuế (nếu có)<br>
                  <span class="text-dark font-weight-bold">{{getTax(transition.tax)}}%</span>
                </p>
                <p class="text-muted m-0 ml-auto">Thực nhận<br>
                  <span class="text-dark font-weight-bold">{{$moneyFormat(transition.real_money)}}</span>
                </p>
              </div>
              <div class="d-flex mt-3">
                <p class="text-muted m-0">Phí rút tiền<br>
                  <span class="text-dark font-weight-bold">{{$moneyFormat(transition.transaction_fee)}}</span>
                </p>
                <p class="text-muted m-0 ml-auto">Tên chủ thẻ<br>
                  <span v-if="!$isEmpty(transition.bank)" class="text-dark font-weight-bold">{{transition.bank.account_holder_name}}</span>
                </p>
              <p class="text-muted m-0 ml-auto">Ví rút tiền<br>
                <span class="text-dark font-weight-bold">{{transition.wallet_name}}</span>
              </p>
              </div>
              <div class="d-flex mt-3">
                <p class="text-muted m-0">Số tài khoản<br>
                  <span v-if="!$isEmpty(transition.bank)" class="text-dark font-weight-bold">{{transition.bank.account_number}}</span>
                </p>
              <p class="text-muted m-0 ml-auto">Ngân hàng<br>
                <span  v-if="!$isEmpty(transition.bank)"  class="text-dark font-weight-bold">{{transition.bank.bank.name}}</span>
              </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <MenuFooter/>
  </div>
</template>
<script>
export default {
  data: () => {
    return {
      transitions: [],
      host: process.env.HOST,
      hostname: window.location.hostname
    }
  },
  mounted() {
    this.getTransition()
  },
  methods :{
     getTransition : function () {
       let vm = this;
       this.$api.widthDrawMoney.all()
         .then((res)=>{
           vm.transitions = res.value.withdraw
         }).catch((error)=>{
         alert(error)
       })
     },
     getTax(tax) {
       return tax * 100
     }
  }
}
</script>
