<template>
  <div v-if="host !== hostname">
    <div class="p-3 border-bottom">
      <div class="d-flex align-items-center mb-2">
        <nuxt-link to="/widthdrawmoney" class="text-decoration-none text-dark">
          <i class="icofont-rounded-left back-page"></i></nuxt-link>
        <span class="font-weight-bold ml-3 h6 mb-0">Rút tiền</span>
      </div>
    </div>
    <div class="p-3">
      <form>
        <div class="form-group">
          <input placeholder="Nhập số tiền muốn rút" type="text" v-model="data.money" class="form-control input-form-profile">
        </div>
        <div class="form-group">
          <select type="text" class="form-control input-form-profile" v-model="data.bank_id">
            <option value="">Chọn ngân hàng</option>
            <option v-for="(bank) in banks" :value="bank.id">{{bank.bank.name}} - {{bank.account_number}}</option>
          </select>
        </div>
        <div class="form-group">
          <select type="text" class="form-control input-form-profile" v-model="data.customer_wallet_id">
            <option value="">Chọn ví rút tiền</option>
            <option v-for="(wallet) in wallets" :value="wallet.id">{{wallet.wallet.name}}</option>
          </select>
        </div>
        <div class="text-center">
          <button type="button" @click="create()" class="btn btn-success btn-block btn-lg">Cập nhật</button>
        </div>
      </form>
    </div>
    <MenuFooter/>
  </div>
</template>
<script>
export default {
  data: () => {
    return {
      data: {
        'bank_id': '',
        'money': '',
        'customer_wallet_id': '',
      },
      wallets: [],
      banks: [],
      host: process.env.HOST,
      hostname: window.location.hostname,
    }
  },
  mounted() {
    this.getBanks()
    this.getWallet()
  },
  methods :{
    getBanks: function () {
      let vm = this;
      this.$api.bank.all()
        .then((res)=>{
          vm.banks = res.value.banks_customer
        }).catch((error)=>{
        alert(error)
      })
    },
    getWallet: function () {
      let vm = this;
      this.$api.widthDrawMoney.getWallet()
        .then((res)=>{
          vm.wallets = res.value.wallet
        }).catch((error)=>{
        alert(error)
      })
    },
    create : function () {
      let vm = this;
      this.$api.widthDrawMoney.create(vm.data)
        .then((res)=>{
          alert(res.message)
        }).catch((error)=>{
        alert(error)
      })
    }

  }
}
</script>
