<template>
  <div class="order-body px-3 pt-3 pb-5" v-if="!$isEmpty($auth.user.wallets)">
    <div class="d-flex align-items-center mb-4">
      <nuxt-link to="/account/profile" class="font-weight-bold text-success text-decoration-none">
        <i class="icofont-rounded-left back-page"></i>Quay lại</nuxt-link>
      <!-- <a class="return-home" href="/"><span style="font-weight: bold" class="text-success">Trang chủ</span></a> --->
      <a class="toggle ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>

    </div>
    <div class="pb-3" v-for="(wallet, _w) in $auth.user.wallets">
      <a href="javascript:void(0)" class="text-decoration-none text-dark">
        <div class="p-3 rounded shadow-sm bg-white">
          <div class="d-flex align-items-center mb-3">
            <p :style="'background-color:' +randomBgColors(_w)" class=" text-white py-1 px-2 mb-0 rounded small">{{ wallet.wallet.name }}</p>
          </div>
          <div class="d-flex">
           <div class="row">
             <div class="col-7">
               <p class="text-muted">Số dư<br>
                 <span class="font-weight-bold text-danger">{{ $moneyFormat(wallet.current_balance) }}</span>
               </p>
             </div>
<!--             <div class="col-5">-->
<!--               <button class="btn btn-danger">Nạp tiền</button>-->
<!--             </div>-->
           </div>
          </div>
        </div>
      </a>
    </div>
    <MenuFooter />
  </div>

</template>
<script>
  export default {
    layout: 'auth-guest',
    transition: 'zoom',
    components: {
    },
    mounted() {
    },
    data: () => {
      return {

        bgColors: ['#049bb3', '#e93535', '#8bc34a', '#ff5722', '#9c27b0', '#368b61', '#787878'],

      };
    },
    methods: {
      randomBgColors: function (e) {
        return !(undefined !== this.bgColors[e]) ? this.bgColors[0] : this.bgColors[e]
      },
    }
  };
</script>
