<template>
<div>
  <div v-if="host !== hostname">
    <div v-if="$auth.user.wallets[8].status === 0">
      <a-affix :offset-top="0">
        <div class="p-3 bg-white">
          <div class="d-flex align-items-center">
            <a class="font-weight-bold text-success text-decoration-none" href="javascript:void(0);"
               @click.prevent="$router.back()"><i
              class="icofont-rounded-left back-page"></i> Quay lại
            </a>
            <!-- <a class="return-home" href="/"><span style="font-weight: bold" class="text-success">Trang chủ</span></a> --->

            <div class="ml-auto nuxt-link font-weight-bold">
            </div>

          </div>
        </div>
      </a-affix>
      <a @click="showConfirm" href="javascript:void(0)">Ấn vào đây để mở ví cổ phần, hợp tác cùng công ty</a>
    </div>
    <div v-else>
      <a-affix :offset-top="0">
        <div class="p-3 bg-white">
          <div class="d-flex align-items-center">
            <a class="font-weight-bold text-success text-decoration-none" href="javascript:void(0);"
               @click.prevent="$router.back()"><i
              class="icofont-rounded-left back-page"></i> Quay lại
            </a>
            <!-- <a class="return-home" href="/"><span style="font-weight: bold" class="text-success">Trang chủ</span></a> --->

            <div class="ml-auto nuxt-link font-weight-bold">
              <a href="javascript:void(0);" @click="$store.dispatch('filter/onOff')" class="text-success pr-2">
                Bộ lọc
              </a>
              <a href="javascript:void(0);" class="ml-auto nuxt-link font-weight-bold pr-2" @click="$store.dispatch('account/deposit/setOpen', true)">
                Nạp điểm
              </a>
              <DepositModal v-if="depositOpen"/>
            </div>

          </div>
        </div>
      </a-affix>
      <filters :uri="'deposit/filters'"/>
      <a-spin tip="Đang tải dữ liệu..." :spinning="loadingDeposit">
        <div class="osahan-body px-3 pt-3" style="padding-bottom: 8rem">
          <div v-if="deposits.length">
            <div v-for="(deposit, key) in deposits">
              <div class="custom-control custom-radio px-0 mb-3 position-relative border-custom-radio">
                <input type="radio" :id="'customRadioInline'+key" name="customRadioInline1" class="custom-control-input"
                       checked>
                <label class="custom-control-label w-100" :for="'customRadioInline'+key">
                  <div class="p-3 bg-white rounded shadow-sm w-100">
                    <div class="d-flex align-items-center mb-2">
                      <p class="mb-0 h6">Mã đơn hàng:<b> {{ deposit.id }}</b></p>
                      <p v-if="!$isEmpty(deposit.status) && deposit.status.id === -4"
                         class="mb-0 badge badge-danger ml-auto">
                        {{ deposit.status.name }}</p>
                      <p v-if="!$isEmpty(deposit.status) && deposit.status.id === 0"
                         class="mb-0 badge badge-warning ml-auto">
                        {{ deposit.status.name }}</p>
                      <p v-if="!$isEmpty(deposit.status) && deposit.status.id === 1"
                         class="mb-0 badge badge-success ml-auto">
                        {{ deposit.status.name }}</p>
                    </div>
                    <div class="d-flex mt-3">
                      <div>
                        <p v-if="!$isEmpty(deposit.from_customer)" class="small text-muted m-0"><span class="text-info">Tài khoản nạp:</span>
                          {{ deposit.from_customer.account }}</p>
                        <p v-if="!$isEmpty(deposit.from_customer)" class="small text-muted m-0"><span class="text-info">Người nạp:</span>
                          {{ deposit.from_customer.full_name }}</p>
                      </div>
                      <div class="ml-auto">
                        <p v-if="!$isEmpty(deposit.to_customer)" class="small text-muted m-0"><span class="text-success">Tài khoản nhận:</span>
                          {{ deposit.to_customer.account }}</p>
                        <p v-if="!$isEmpty(deposit.to_customer)" class="small text-muted m-0"><span class="text-success">Người nhận:</span>
                          {{ deposit.to_customer.full_name }}</p>
                      </div>
                    </div>
                    <div class="d-flex mt-3">
                      <div>
                        <p class="small text-muted m-0"><span
                          class="text-success">Số tiền nạp:</span> {{ $moneyFormat(deposit.money) }}</p>
                        <p v-if="!$isEmpty(deposit.to_customer_wallet)" class="small text-muted m-0"><span
                          class="text-success">Ví nạp:</span> {{ deposit.to_customer_wallet.wallet.name }}</p>
                      </div>
                      <div class="ml-auto">
                        <p v-if="!$isEmpty(deposit.type)" class="small text-muted m-0"><span
                          class="text-info">Loại đơn:</span> {{ deposit.type.name }}</p>
                        <p class="small text-muted m-0"><span class="text-info">Ngày tạo:</span> {{ deposit.created_at }}
                        </p>
                      </div>
                    </div>

                  </div>
                </label>
              </div>
            </div>
          </div>
          <a-alert v-else
                   message="Không tìm thấy kết quả nào phù hợp với điều kiện tìm kiếm của bạn."
                   description=""
                   type="warning"
          />
        </div>

      </a-spin>
    </div>
  </div>
</div>
</template>

<script>
import {mapState} from "vuex";
import DepositModal from "~/components/Mobile/Partials/Account/DepositModal";

export default {
  name: 'Share',
  layout: 'account',
  components: {DepositModal},
  computed: {
    ...mapState({
      wallets: state => state.account.wallets.list,
      total: state => state.account.wallets.total,
      loading: state => state.account.wallets.loading,
      depositOpen: state => state.account.deposit.open,
    }),
  },
  data: () => {
    return {
      loadingDeposit: true,
      deposits: [],
      host: process.env.HOST,
      hostname: window.location.hostname,
    }
  },
  watch: {
    '$route.query'() {
      this.fetch(this.$route.query)
    }
  },
  created() {
    this.fetch(this.$route.query)
  },
  methods: {
    showConfirm() {
      let baseURL = this.$api.wallets.wallets_share_active
      this.$confirm({
        title: 'Bạn có chắc chắn hợp tác công ty không ?',
        content: h => <div style="color:red;">Kích hoạt ví cổ phần</div>,
        onOk : async() => {
          this.$api.wallets.wallets_share_active({wallet_id : this.$auth.user.wallets[8].wallet_id})
            .then(
              res => {
                console.log(res)
              }
            )
            .catch(
              error => {
                console.log(error)
              }
            )
        },
        onCancel() {
          console.log('Cancel');
        },
        class: 'test',
      });
    },
    setLoading(loading) {
      this.loadingDeposit = loading
    },
    fetch: function (params = {}) {
      let vm = this;
      params = {
        count: 100,
        ...params,
      }
      vm.setLoading(true)
      this.$api.deposit.all(params)
        .then(function (res) {
          if (res.success === true) {
            vm.deposits = res.value.deposits
          } else {
            if (!vm.$isEmpty(res.errors)) {
              res.errors.forEach(function (el) {
                vm.$message.error(el.message)
              })
            } else {
              vm.$message.error(res.message)
            }
          }
          vm.setLoading(false)
        }).catch(function (error) {
        if (!vm.$isEmpty(error.response.data) && !vm.$isEmpty(error.response.data.errors)) {
          error.response.data.errors.forEach(function (el) {
            vm.$message.error(el.message)
          })
        } else {
          vm.$message.error(error)
        }
        vm.setLoading(false)
      })
    }
  }
}
</script>

<style scoped>

</style>
