<template>
  <div class="osahan-order">
    <a-affix :offset-top="0">
      <div class="p-3 bg-white">
        <div class="d-flex align-items-center">
          <a class="font-weight-bold text-success text-decoration-none" href="javascript:void(0);"
             @click.prevent="$router.back()"><i
            class="icofont-rounded-left back-page"></i> Quay lại
          </a>
          <!-- <a class="return-home" href="/"><span style="font-weight: bold" class="text-success">Trang chủ</span></a> --->
          <div class="ml-auto nuxt-link font-weight-bold">
            <a href="javascript:void(0);" @click="$store.dispatch('filter/onOff')" class="pr-2">
              Bộ lọc
            </a>
          </div>

        </div>
      </div>
    </a-affix>
    <filters :uri="'../sellercenter/order/filters'"/>
    <MobileOrderBox />
  </div>
</template>

<script>
import MobileOrderBox from "@/components/Mobile/Partials/Account/Orders/MobileOrderBox";

export default {
  layout: 'account',
  name: 'MobileCompleteOrderPage',
  components: {MobileOrderBox}
}
</script>
