<template>
  <button @click='check()'>
    fdfdfdsfsdf
  </button >
</template>
<script>
  import {mapState} from "vuex";

  export default {
    name: 'Header',
    data() {
      return {
        keyword: this.$route.query.q
      }
    },
    computed: {
      ...mapState({
        list: state => state.products.list,
      }),
    },
    watch: {
      keyword(newVal, oldVal) {
        this.$router.push({ path: this.$route.path, query: { q: newVal } });
      },
      '$route.query'(newVal, oldVal) {
        this.$store.dispatch('products/setListEmpty')
        this.$store.dispatch('products/setLoading', true)
        this.$store.dispatch('products/getAll')
      }
    },
    methods:{
      check(){
        console.log(this.list)
      }
    }
  }
</script>
