<template>
  <div class="p-3">
    <a-spin :spinning="loading" tip="Đang tải dữ liệu..." class="btn-block">
      <div class="custom-control custom-radio px-0 mb-3 position-relative border-custom-radio" v-for="address in list">
        <input type="radio" :id="'ad_'+address.id" name="address_selected" class="custom-control-input"
               :checked="checked(address)" @click="$store.dispatch('agents/setAgentSelected', address)">
        <label class="custom-control-label w-100" :for="'ad_'+address.id">
          <div>
            <div class="p-3 bg-white rounded shadow-sm w-100">
              <div class="d-flex align-items-center mb-2">
                <p class="mb-0 h6">{{ address.full_name }}</p>
                <p class="mb-0 badge badge-danger ml-auto">{{
                    (!$isEmpty(address.customer) && !$isEmpty(address.customer.mpmart_rank.rank))
                      ? address.customer.mpmart_rank.rank.name : '---'
                  }}</p>
              </div>
              <p class="mb-0">SĐT: {{ address.mobile }}</p>
              <p class="mb-0" v-if="address.email">Email: {{ address.email }}</p>
              <p class="text-muted m-0"><b>Xã, Huyện, Tỉnh</b>: {{ $getLocation(address) }}</p>
              <p class="text-info m-0"><b>Địa chỉ google map:</b> <span>{{ address.street }}</span></p>
            </div>
          </div>
        </label>
      </div>
      <div class="fixed-bottom">
        <div class="osahan-menu-fotter bg-white border-top">

          <!--        <nuxt-link :to="'/carts/'+$route.params.slug+'/delivery-address'" class="btn btn-secondary text-white">Hủy</nuxt-link>-->
          <nuxt-link :to="'/'" class="btn btn-secondary text-white">Hủy</nuxt-link>
          <a-spin :spinning="loading" class="btn-block">
            <button type="button" @click="saveMainForm" class="btn btn-success text-white w-100">Tiếp tục</button>
          </a-spin>

        </div>
      </div>
    </a-spin>
  </div>
</template>

<script>
import {mapState, mapGetters} from "vuex";

export default {
  name: 'AgentPage',
  layout: 'cart',
  components: {},
  computed: {
    ...mapState({
      list: state => state.agents.list,
      loading: state => state.agents.loading,
      agentSelected: state => state.agents.agentSelected,
      cart: state => state.carts.cart,
      loadingCart: state => state.carts.loading,
      total: state => state.carts.total,
    }),
    ...mapGetters({
      totalEachCart: 'carts/totalEachCart'
    }),
  },
  watch: {
    'loadingCart': function () {
      if (!this.$isEmpty(this.cart.delivery_address) && this.cart.delivery_address.id) {
        this.$store.dispatch('agents/getAll', {
          delivery_address_id: this.cart.delivery_address_id,
          cart_type: this.cart.type,
          amount: this.totalEachCart
        })
      } else {
        this.$router.push('/carts/' + this.$route.params.code + '/delivery-address')
      }
    }
  },

  beforeCreate() {
    this.$store.dispatch("agents/setLoading", true)
    this.$store.dispatch("carts/getItemCart", {code: this.$route.params.code})
  },

  methods: {
    checked: function (obj) {
      const vm = this
      if (obj.id === vm.cart.agent_id) {
        vm.$store.dispatch('agents/setAgentSelected', obj)
        return true
      }
      return false
    },
    saveMainForm: function () {
      const vm = this
      let promise
      if (!this.agentSelected.id) {
        vm.$message.warning('Vui lòng lựa chọn cơ sở trả hàng.')
      } else {
        let payload = {
          ...this.agentSelected,
          type: vm.$route.params.code,
          action: 'agent'
        }
        vm.$store.dispatch('setLoading', true)
        promise = this.$api.cart.update(payload.id, payload)
        promise
          .then(function (res) {
            if (res.success === true) {
              vm.$message.success(res.message)
              vm.$router.push('/carts/' + vm.$route.params.code + '/payment')
            } else {
              vm.$message.error(res.message)
            }
            vm.$store.dispatch('setLoading', false)
          }).catch(function (error) {
          console.log(error)
          if (!vm.$isEmpty(error.response) && !vm.$isEmpty(error.response.data.errors)) {
            error.response.data.errors.forEach(function (el) {
              vm.$message.error(el.message)
            })
          } else {
            vm.$message.error(error)
          }
          vm.$store.dispatch('setLoading', false)
        })
      }
    }

  }
}
</script>
