<template>
  <div>
  <div class="osahan-profle">
    <div class="p-3 border-bottom">
      <div class="d-flex align-items-center">
        <nuxt-link to="/account/profile" class="font-weight-bold text-success text-decoration-none">
          <i class="icofont-rounded-left back-page"></i></nuxt-link>
        <a class="toggle ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>
      </div>
    </div>
  </div>
  <div id="edit_profile" style="background-color: #fff">
    <div class="p-4 profile text-center border-bottom">
      <img src="img/user.jpg" class="img-fluid rounded-pill">
      <h6 class="font-weight-bold m-0 mt-2">{{ $auth.user.full_name }}</h6>
      <p class="small text-muted m-0"><a href="https://askbootstrap.com/cdn-cgi/l/email-protection">[{{ $auth.user.account }}]</a>
      </p>
    </div>
    <div class="p-3">
      <form action="https://askbootstrap.com/preview/grofar/edit_profile.html">
        <div class="form-group">
          <input v-model="user.name" placeholder="Nhập họ và tên" type="text" class="form-control input-form-profile" >
        </div>
        <div class="form-group">
          <input v-model="user.phone" placeholder="Nhập số điện thoại" type="number" class="form-control input-form-profile">
        </div>
        <div class="form-group">
          <input v-model="user.email" placeholder="Nhập email" type="email" class="form-control input-form-profile">
        </div>
        <div class="form-group">
          <input v-model="user.cmnd" placeholder="Nhập chứng minh nhân dân" type="email" class="form-control input-form-profile">
        </div>
        <div class="form-group">
          <select placeholder="Nhập tỉnh, thành" v-model="city" type="text" class="form-control input-form-profile">
            <option v-for="(city, index) in cities" :value="city">{{city.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <select placeholder="Nhập quận, huyện" type="text"  v-model="district" class="form-control input-form-profile">
            <option v-for="(district, index) in districts" :value="district">{{district.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <select placeholder="Nhập xã, phường" type="text" v-model="ward" class="form-control input-form-profile">
            <option v-for="(ward, index) in wards" :value="ward">{{ward.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <input v-model="street" placeholder="Nhập địa chỉ cụ thể" type="text" class="form-control input-form-profile" >
        </div>
        <div class="form-group">
          <input disabled placeholder="Chức rank" type="text" :value="user.rank"  class="form-control input-form-profile" >
        </div>
        <div class="form-group">
          <input disabled placeholder="Cấp bậc " type="text" :value="setRankTotalRevenue(user.rank_total_revenue)"  class="form-control input-form-profile" >
        </div>
        <div class="text-center">
          <button type="button" @click="updateInfoCustomer()" class="btn btn-success btn-block btn-lg">Cập nhật</button>
        </div>
      </form>
    </div>
  </div>
    <MenuFooter />
  </div>
</template>

<script>
  import {mapState} from "vuex";
  export default {
    data() {
      return {
        user:{
          name:'',
          phone:'',
          email:'',
          cmnd:'',
          rank:'',
          rank_total_revenue:''
        },
        city:{},
        district:{},
        ward:{},
        street:''
      };
    },
    mounted() {
      this.$store.dispatch('locations/getCities');
      const vm = this;
      vm.user.name =  this.$auth.user.full_name;
      vm.user.phone = this.$auth.user.mobile;
      vm.user.email = this.$auth.user.email;
      vm.user.cmnd = this.$auth.user.cmnd;
      if(this.$auth.user.city_id !== null){
        vm.city.id = this.$auth.user.city.id
        vm.city.code = this.$auth.user.city.code
        vm.city.name = this.$auth.user.city.name
      }
      if(this.$auth.user.district_id !== null){
        this.$store.dispatch('locations/getDistricts',{city_id:this.city.id});
        vm.district.id = this.$auth.user.district.id
        vm.district.code = this.$auth.user.district.code
        vm.district.name = this.$auth.user.district.name
      }
      if(this.$auth.user.ward_id !== null){
        this.$store.dispatch('locations/getWards',{district_id:this.district.id});
        vm.ward.id = this.$auth.user.ward.id
        vm.ward.code = this.$auth.user.ward.code
        vm.ward.name = this.$auth.user.ward.name
      }
      vm.street = this.$auth.user.street
      vm.user.rank = this.$auth.user.mpmart_rank.rank.name
      vm.user.rank_total_revenue = this.$auth.user.mpmart_rank_total_revenue
    },
    computed: {
      ...mapState({
        cities: state => state.locations.cities,
        districts: state => state.locations.districts,
        wards: state => state.locations.wards,
      }),
    },
    methods: {
      async updateInfoCustomer() {
        this.$auth.user.full_name = this.user.name;
        this.$auth.user.mobile = this.user.phone;
        this.$auth.user.email = this.user.email;
        this.$auth.user.city = this.city;
        this.$auth.user.district = this.district;
        this.$auth.user.ward = this.ward;
        this.$auth.user.street = this.street;
        const vm = this;
        await this.$api.customer.update(this.$auth.user.id,this.$auth.user)
          .then(function (res) {
            if (res.success === true) {
              window.location.href = "http://localhost:6600/account/info";
            } else {
              vm.$message.error(res.message)
            }
          }).catch(function (error) {
            if (typeof error.response !== "undefined" && error.response.data.errors !== null) {
              error.response.data.errors.forEach(function (el) {
                vm.$message.error(el.message)
              })
            } else {
              vm.$message.error(error)
            }
          })
      },
      setRankTotalRevenue : function (rank) {
        return 'Cấp '+ (rank - 1)
      }

    },
    watch:{
      city: function (newVal, oldVal){
       this.$store.dispatch('locations/getDistricts',{city_id:this.city.id});
      },
      district:function (newVal, oldVal){
        this.$store.dispatch('locations/getWards',{district_id:this.district.id});
      }
    }
  }
</script>
