<template>
  <div v-if="host !== hostname">
    <div class="p-3 border-bottom">
      <div class="d-flex align-items-center mb-2">
        <nuxt-link to="/bank" class="text-decoration-none text-dark">
          <i class="icofont-rounded-left back-page"></i></nuxt-link>
        <span class="font-weight-bold ml-3 h6 mb-0">Chi tiết ngân hàng</span>
        <nuxt-link to="/bank/input" class="ml-auto">
          <button type="button" class="btn btn-outline-success btn-sm " data-toggle="modal"
                  data-target="#exampleModal">Thêm mới
          </button>
        </nuxt-link>
      </div>
    </div>
    <div class="p-3">
      <form>
        <div class="form-group">
          <select  placeholder="Tên ngân hàng" type="text" class="form-control input-form-profile" v-model="banks.bank" >
            <option v-for="(bank) in bank" :value="bank" >{{bank.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <input v-if="!$isEmpty(banks)" placeholder="Nhập tên chủ thẻ" type="text" v-model="banks.account_holder_name" class="form-control input-form-profile">
        </div>
        <div class="form-group">
          <input placeholder="Nhập số tài khoản" v-model="banks.account_number" type="number" class="form-control input-form-profile">
        </div>
        <div class="text-center">
          <button type="button" @click="update()" class="btn btn-success btn-block btn-lg">Cập nhật</button>
        </div>
      </form>
    </div>
    <MenuFooter/>
  </div>
</template>
<script>
export default {
  data: () => {
    return {
      banks: [],
      bank: [],
      host: process.env.HOST,
      hostname: window.location.hostname,
      updated: {
        'bankId': '',
        'accountName': '',
        'accountNumber': '',
      }
    }
  },
  mounted() {
    this.getBankCustomer()
    this.getBank()
  },
  methods :{
    getBankCustomer: function () {
      let vm = this;
      this.$api.bank.show(this.$route.query.id)
        .then((res)=>{
          vm.banks = res.value.banks_customer
        }).catch((error)=>{
        alert(error)
      })
    },
    getBank: function () {
      let vm = this;
      this.$api.bank.bank()
        .then((res)=>{
          vm.bank = res.value.banks
        }).catch((error)=>{
        alert(error)
      })
    },
    update: function () {
      let vm = this;
      vm.updated.bankId = vm.banks.bank.id
      vm.updated.accountName = vm.banks.account_holder_name
      vm.updated.accountNumber = vm.banks.account_number
      this.$api.bank.update(this.$route.query.id, vm.updated)
        .then((res)=>{
          alert(res.message)
        }).catch(function (error) {
        if (typeof error.response !== "undefined" && error.response.data.errors !== null) {
          error.response.data.errors.forEach(function (el) {
            vm.$message.error(el.message)
          })
        } else {
          vm.$message.error(error)
        }
      })
    }
  }
}
</script>
