<template>
  <div v-if="host !== hostname">
    <div class="p-3 border-bottom">
      <div class="d-flex align-items-center mb-2">
        <nuxt-link to="/account/profile" class="text-decoration-none text-dark">
          <i class="icofont-rounded-left back-page"></i></nuxt-link>
        <span class="font-weight-bold ml-3 h6 mb-0">Danh sách ngân hàng</span>
        <nuxt-link to="/bank/input" class="ml-auto">
          <button type="button" class="btn btn-outline-success btn-sm " data-toggle="modal"
                data-target="#exampleModal">Thêm mới
        </button>
        </nuxt-link>
      </div>
    </div>
    <div v-for="(bank, key) in banks">
      <div class="custom-control custom-radio px-0 mb-3 position-relative border-custom-radio">
        <input type="radio" :id="'customRadioInline'+key" name="customRadioInline1" class="custom-control-input" checked>
        <label class="custom-control-label w-100" :for="'customRadioInline'+key">
            <div class="p-3 bg-white rounded shadow-sm w-100">
              <div class="d-flex align-items-center mb-2">
                <p v-if="!$isEmpty(bank.bank)" class="mb-0 h6">{{bank.bank.name}}</p>
                <nuxt-link :to="'/bank/edit?id='+bank.id" class="text-decoration-none text-dark ml-auto"><p class="mb-0 badge badge-success">Chỉnh sửa</p></nuxt-link>
              </div>
              <p class="small text-muted m-0">Tên chủ thẻ: {{bank.account_holder_name}}</p>
              <p class="small text-muted m-0">Số tài khoản: {{bank.account_number}}</p>
              <p class="small text-muted m-0">Ngày tạo: {{bank.created_at}}</p>
              <p class="small text-muted m-0">Ngày cập nhật: {{bank.updated_at}}</p>
            </div>
        </label>
      </div>
    </div>
    <MenuFooter/>
  </div>
</template>
<script>
export default {
  data: () => {
    return {
      banks: [],
      host: process.env.HOST,
      hostname: window.location.hostname
    }
  },
  mounted() {
    this.getBanks()
  },
  methods :{
    getBanks: function () {
      let vm = this;
      this.$api.bank.all()
        .then((res)=>{
          vm.banks = res.value.banks_customer
        }).catch((error)=>{
        alert(error)
      })
    }
  }
}
</script>
