<template>
  <div v-if="host !== hostname">
    <div class="p-3 border-bottom">
      <div class="d-flex align-items-center mb-2">
        <nuxt-link to="/bank" class="text-decoration-none text-dark">
          <i class="icofont-rounded-left back-page"></i></nuxt-link>
        <span class="font-weight-bold ml-3 h6 mb-0">Thêm mới ngân hàng</span>
      </div>
    </div>
    <div class="p-3">
      <form>
        <div class="form-group">
          <select type="text" class="form-control input-form-profile" v-model="banks.bankId" >
            <option value="">Chọn ngân hàng</option>
            <option v-for="(bank) in bank" :value="bank.id" >{{bank.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <input  placeholder="Nhập tên chủ thẻ" type="text" v-model="banks.accountName" class="form-control input-form-profile">
        </div>
        <div class="form-group">
          <input placeholder="Nhập số tài khoản" v-model="banks.accountNumber" type="number" class="form-control input-form-profile">
        </div>
        <div class="text-center">
          <button type="button" @click="created()" class="btn btn-success btn-block btn-lg">Cập nhật</button>
        </div>
      </form>
    </div>
    <MenuFooter/>
  </div>
</template>
<script>
export default {
  data: () => {
    return {
      banks: {
        'accountName': '',
        'accountNumber': '',
        'bankId': '',
      },
      bank: [],
      host: process.env.HOST,
      hostname: window.location.hostname,
    }
  },
  mounted() {
    this.getBank()
  },
  methods :{
    getBank: function () {
      let vm = this;
      this.$api.bank.bank()
        .then((res)=>{
          vm.bank = res.value.banks
        }).catch((error)=>{
        alert(error)
      })
    },
    created: function () {
      let vm = this;
      this.$api.bank.create(vm.banks)
        .then((res)=>{
          alert(res.message)
        }).catch(function (error) {
        if (typeof error.response !== "undefined" && error.response.data.errors !== null) {
          error.response.data.errors.forEach(function (el) {
            vm.$message.error(el.message)
          })
        } else {
          vm.$message.error(error)
        }
      })
    }
  }
}
</script>
