<template>
  <div class="pb-3">
    <a href="status_complete.html" class="text-decoration-none text-dark">
      <div class="p-3 rounded shadow-sm bg-white">
        <div class="d-flex align-items-center mb-3">
          <p class="bg-success text-white py-1 px-2 mb-0 rounded small">Delivered</p>
          <p class="text-muted ml-auto small mb-0"><i class="icofont-clock-time"></i> 06/04/2020</p>
        </div>
        <div class="d-flex">
          <p class="text-muted m-0">Transaction. ID<br>
            <span class="text-dark font-weight-bold">#321DERS</span>
          </p>
          <p class="text-muted m-0 ml-auto">Delivered to<br>
            <span class="text-dark font-weight-bold">Home</span>
          </p>
          <p class="text-muted m-0 ml-auto">Total Payment<br>
            <span class="text-dark font-weight-bold">$12.74</span>
          </p>
        </div>
      </div>
    </a>
  </div>
</template>

<script>
import {mapState} from "vuex";
export default {
  name: 'MobileOrder',
  props: ['order'],
  computed: {
    ...mapState({
    }),
  },
  data() {
    return {
    }
  },
  watch: {

  },
}
</script>
