  <template>
  <div>
  <div class="row m-0 text-center">
    <div class="col p-1 pb-2 border-bottom">
      <a href="javascript:void(0)" @click="getListByStatus(false)" :class="active.all + ' text-decoration-none'">Tất cả</a>
    </div>
    <div class="col p-1 pb-2 border-bottom">
      <a href="javascript:void(0)" @click="getListByStatus(0)" :class="active.new + ' text-decoration-none'">Mới</a>
    </div>
    <div class="col p-1 pb-2 border-bottom">
      <a href="javascript:void(0)" @click="getListByStatus(9)" :class="active.success + ' text-decoration-none'">Thành công</a>
    </div>
    <div class="col p-1 pb-2 border-bottom">
      <a href="javascript:void(0)" @click="getListByStatus(4)" :class="active.cancel + ' text-decoration-none'">Đã hủy</a>
    </div>
  </div>
  <div class="order-body px-3 pt-3">
    <div class="pb-3" v-for="order in orders" :key="order.id">
      <nuxt-link :to="'/account/purchase/input?id='+ order.id"  class="text-decoration-none text-dark">
        <div class="p-3 rounded shadow-sm bg-white">
          <div class="d-flex align-items-center mb-3">
            <p :class="'text-white py-1 px-2 rounded small m-0 bg-'+order.status.style">{{ order.status.name }}</p>
            <p class="text-muted ml-auto small m-0"><i class="icofont-clock-time"></i> {{ order. created_at}}</p>
          </div>
          <div class="mb-1 d-flex justify-content-between">
            <p class="text-muted m-0">Mã g.dịch<br>
              <span class="text-dark font-weight-bold">#{{ order.id }}</span>
            </p>

            <p class="text-muted m-0 ml-auto">Số lượng<br>
              <span class="text-dark font-weight-bold">x{{ order.quantity }}</span>
            </p>
          </div>
          <div class="mb-1 d-flex justify-content-between">
            <p class="text-muted m-0">Tổng tiền<br>
              <span class="text-dark font-weight-bold">{{ $moneyFormat(order.total) }}</span>

            </p>
            <p class="text-muted m-0 ml-auto">Phí v.chuyển<br>
              <span class="text-dark font-weight-bold">{{ (order.distance.text ? order.distance.text : 0)  + '~' +$moneyFormat(order.fee) }}</span>
            </p>
            <p class="text-muted m-0 ml-auto">Thành tiền<br>
              <span class="text-dark font-weight-bold">{{ $moneyFormat(order.grand_total) }}</span>
            </p>
          </div>
          <p class="text-muted m-0 ml-auto">Giao tới: <b>{{ order.delivery_address.full_name }}</b></p>
          <p class="text-muted m-0 ml-auto">SĐT: <a :href="'tel:'+order.delivery_address.mobile">{{ order.delivery_address.mobile }}</a> - E-mail: <a :href="'mailto:'+order.delivery_address.email">{{ order.delivery_address.email }}</a></p>
          <p class="text-muted m-0 ml-auto">Xã, Huyện, Tỉnh: <b>{{ $getLocation(order.delivery_address) }}</b></p>
          <p class="text-muted m-0 ml-auto">Đ.chỉ trên gg.map: <a :href="'https://www.google.com/maps/place/'+order.delivery_address.street" target="_blank">{{ order.delivery_address.street }}</a></p>
          <p v-if="order.payment_method === 2" class="text-muted m-0 ml-auto">Hình thức thanh toán: <span class="text-danger">Chuyển khoản</span></p>
          <p v-else class="text-muted m-0 ml-auto">Hình thức thanh toán: <span class="text-danger" v-if="!$isEmpty(order.customer_wallet.wallet)">{{ order.customer_wallet.wallet.name }}</span></p>
          <div class="mt-2 d-flex align-items-center">
            <p class="ml-auto py-1 px-2 rounded m-0 bg-light font-weight-bold"><i class="icofont-delivery-time h4"></i> Đơn vị v.chuyển: {{ order.deliver.full_name}}</p>
          </div>
          <button v-if="order.payment_method === 1" @click="cancelOrder(order.id,1)" class="mt-3 btn btn-outline-danger"><b>Hủy đơn</b></button><!-- type = 1 thanh toán bằng ví -->
          <button v-else-if="order.payment_method === 2" @click="cancelOrder(order.id,2)" class="mt-3 btn btn-outline-danger"><b>Hủy đơn</b></button> <!-- type = 2 chuyển khoản -->
        </div>
      </nuxt-link>
    </div>
  </div>
  </div>
</template>


<script>
import {mapState} from "vuex";
import MobileOrder from "@/components/Mobile/Partials/Account/Orders/MobileOrder";
export default {
  name: 'MobileOrderBox',
  components: {MobileOrder},
  computed: {
    ...mapState({
      orders: state => state.account.orders.list,
    }),
  },
  watch: {
    '$route.query'() {
      this.$store.dispatch('account/orders/setListEmpty', []);
      this.$store.dispatch("account/orders/getAll",this.$route.query)
    }
  },
  data() {
    return {
      data: [],
      loading: false,
      busy: false,
      distance: 20,
      active:{
        all:'text-success border-link-success',
        new:'text-muted',
        success:'text-muted',
        cancel:'text-muted',
      }
    };
  },
  beforeCreate() {
    this.$store.dispatch('account/orders/setListEmpty', [])
  },
  created() {
    this.$store.dispatch("account/orders/getAll",) // @todo @kayn xử lý lỗi chuyển tab quá nhanh mà axios chưa xong => dữ liệu sẽ bị concat sai
  },
  methods: {
    getListByStatus(status){
      this.resetStatus();
      this.activeStatus(status);
      if(status === false){
        this.$store.dispatch('products/setLoading', true)
        this.$store.dispatch('account/orders/setListEmpty', [])
        this.$store.dispatch("account/orders/getAll",)
      }else{
        this.$store.dispatch('products/setLoading', true)
        this.$store.dispatch('account/orders/setListEmpty', [])
        this.$store.dispatch("account/orders/getAll",{type: status})
      }
    },
    activeStatus(status){
      switch(status) {
        case false:
          this.active.all = 'text-success border-link-success';
          break;
        case 0:
          this.active.new = 'text-success border-link-success';
          break;
        case 9:
          this.active.success = 'text-success border-link-success';
          break;
        case 4:
          this.active.cancel = 'text-success border-link-success';
          break;
        default:
      }
    },
    resetStatus(){
      this.active.all = 'text-muted';
      this.active.new = 'text-muted';
      this.active.success = 'text-muted';
      this.active.cancel = 'text-muted';
    },
    async cancelOrder(id, type) {
      const vm = this;
      let promise;
      if(type === 1){
        promise = this.$api.orders.cancel(id);
      } else if(type === 2){
        promise = this.$api.orders.cancelTransfer(id);
      }
      promise.then(function (res) {
          if (res.success === true) {
            this.$store.dispatch('account/orders/setListEmpty', []);
            this.$store.dispatch('account/orders/getAll');
            console.log(123)
          } else {
            vm.$message.error(res.message)
          }
        }).catch(function (error) {
          if (typeof error.response !== "undefined" && error.response.data.errors !== null) {
            error.response.data.errors.forEach(function (el) {
              vm.$message.error(el.message)
            })
          } else {
            vm.$message.error(error)
          }
        })
    },
    handleInfiniteOnLoad() {
      const vm = this
      this.loading = true;
      let promise
      if (vm.busy) {
        return true
      }
      promise = this.$store.dispatch("account/orders/getAll", {scroll: true})
      promise.then(function (res) {
        if(res.success === true) {
          if (!res.value.account/orders.length) {
            vm.busy = true;
            vm.distance = 0;
          }
          vm.loading = false;
        }else {
          vm.$message.error(res.message)
        }
      }).catch(function (error) {
        if (!vm.$isEmpty(error.response) && vm.$isEmpty(error.response.data.errors)) {
          error.response.data.errors.forEach(function (el) {
            vm.$message.error(el.message)
          })
        } else {
          vm.$message.error('Có lỗi xảy ra. Vui lòng liên hệ quản trị viên để được hướng dẫn.')
        }
      })

    },
  }
}
</script>
