@import "mobile/style";

.menu-fixed{
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: #e5e5e5;
  top: 0;
}

.border-link-success{
  border-bottom: #19692c solid 1px;
}

.label-form-profile {
  font-size: 14px;
  color: #4a4949;
  margin-left: 11px;
  font-weight: 700;
}

.input-form-profile{
  height: 40px;
}
a.text-decoration-none.text-dark.d-flex.align-items-center {
  width: 100%;
}

.welcome-user {
  width: 100%;
  padding-right: 17px;
  text-align: right;
}

.return-home{
  text-align: right;
  margin-left: 20px;
}
