<template>
  <div>
    <div class="p-3 border-bottom">
      <div class="d-flex align-items-center mb-2">
        <nuxt-link to="/account/profile" class="text-decoration-none text-dark">
          <i class="icofont-rounded-left back-page"></i></nuxt-link>
        <span class="font-weight-bold ml-3 h6 mb-0">Đổi mật khẩu</span>
      </div>
    </div>
    <div class="p-3">
      <form>
        <div class="form-group">
          <input placeholder="Nhập mật khẩu hiện tại" v-model="Password.password" type="password" class="form-control input-form-profile">
        </div>
        <div class="form-group">
          <input placeholder="Nhập mật khẩu mới" v-model="Password.newPass" type="password" class="form-control input-form-profile">
        </div>
        <div class="form-group">
          <input placeholder="Nhập lại mật khẩu mới" v-model="Password.confirmPass" type="password" class="form-control input-form-profile">
        </div>
        <div class="text-center">
          <button type="button" @click="changePassword()" class="btn btn-success btn-block btn-lg">Cập nhật</button>
        </div>
      </form>
    </div>
    <MenuFooter/>
  </div>
</template>
<script>
export default {
  data: () => {
    return {
      Password: {
        'password' : '',
        'newPass' : '',
        'confirmPass' : ''
      },
    }
  },
  methods :{
    changePassword : function (){
      let vm = this;
      this.$api.customer.changePassword(vm.Password)
        .then((res)=>{
          console.log(res)
          alert(res.message)
        }).catch((error)=>{
        alert(error)
      })
    }
  }
}
</script>
