<template>
  <div>
    <nuxt-link :to="$buildSlug(item.variant)" class="position-absolute">
      <span class="badge badge-danger m-2" v-if="$calcDiscount(item.variant)"> {{ $discount(item.variant) }}</span>
    </nuxt-link>
    <div class="d-flex  align-items-center p-1">
      <nuxt-link :to="$buildSlug(item.variant)"><img :src="item.variant.avatar.absolute_link" class="img-fluid"></nuxt-link>
      <div class="ml-3 text-dark text-decoration-none w-100">
        <h6 class="mb-2 sp-line-2"><nuxt-link class="text-dark" :to="$buildSlug(item.variant)">{{ item.variant.name }}</nuxt-link></h6>

        <div class="d-flex align-items-center">
          <div class="total_price text-success font-weight-bold m-0">
            <b @click="deleteItem(item.variant.id)" style="cursor: pointer" class="text-danger">Xóa</b>
            <span class="ml-3" style="font-size: 15px">{{ $moneyFormat(item.variant.price_sale) }}</span>  </div>
          <div class="input-group input-spinner ml-auto cart-items-number">
            <div class="input-group-prepend">
              <button class="btn btn-success btn-sm" type="button" @click="++quantity"> +</button>
            </div>
            <input type="number" class="form-control" v-model="quantity">
            <div class="input-group-append">
              <button class="btn btn-success btn-sm" type="button" @click="--quantity"> −</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CartProduct',
  layout: 'cart',
  props: ['item'],
  watch: {
    quantity (newVal, oldVal) {
      if (newVal <= 0) {
        this.quantity = 1
      }
      this.$store.dispatch('carts/addItemToCart', {id: this.item.variant.id, quantity: this.quantity, role: 'update'})
    },
  },
  data() {
    return {
      quantity: this.item.quantity,
    }
  },
  methods: {
    deleteItem(id){
    this.$store.dispatch('carts/deleteItemToCart', {id: id})
    }
  }
}
</script>
