<script>
import {mapState} from 'vuex'

export default {
  name: 'Home',
  computed: {
    ...mapState({
    }),
  },

  watch: {

  },
  beforeCreate() {

  },
}
</script>
<style lang="css" src="assets/mobile/icons/icofont.min.css"></style>
<style lang="css" src="assets/mobile/css/bootstrap.min.css"></style>
<style lang="scss" src="~/assets/mobile/scss/mobile.scss"></style>
<style lang="css" src="assets/mobile/css/demo.css"></style>

<template>
  <!-- Begin page -->
  <div class="osahan-home-page">
    <BackTop />
    <div class="osahan-body" style="padding-bottom: 68px">
      <Nuxt />
    </div>
    <MenuFooter />
  </div>
</template>
