<script>
import {mapState} from 'vuex'

export default {
  name: 'Cart',
  middleware: 'auth',
  computed: {
    ...mapState({
      carts: state => state.carts.carts,
    }),
  },
  methods: {

  },
  beforeCreate() {
    this.$store.dispatch("carts/getAll")
  },
}
</script>
<style lang="css" src="assets/mobile/icons/icofont.min.css"></style>
<style lang="scss" src="~/assets/mobile/scss/mobile/style-before.scss"></style>
<style lang="css" src="assets/mobile/css/bootstrap.min.css"></style>
<style lang="scss" src="~/assets/mobile/scss/mobile.scss"></style>
<style lang="css" src="assets/mobile/css/demo.css"></style>

<template>
  <!-- Begin page -->
  <div class="osahan-home-page"  style="padding-bottom: 50px">
    <BackTop />
    <a-affix :offset-top="0">
      <div class="p-3 bg-white">
        <div class="d-flex align-items-center">
          <nuxt-link class="font-weight-bold text-success text-decoration-none mr-1" style="with: 85px" to="/"><i
            class="icofont-rounded-left back-page"></i>
          </nuxt-link>
          <!-- <a class="return-home" href="/"><span style="font-weight: bold" class="text-success">Trang chủ</span></a> --->
          <nuxt-link v-if="$route.name === 'carts-code-delivery-address'" class="ml-auto nuxt-link font-weight-bold pr-2" :to="$route.fullPath+'/input'">
            Thêm địa chỉ</nuxt-link>

          <nuxt-link v-else class="ml-auto nuxt-link font-weight-bold border-right pr-2 sp-line-1" v-for="cart in carts" :to="'/carts/'+cart.type.code">
            {{ cart.type.name }}</nuxt-link>
        </div>
      </div>
    </a-affix>
    <div class="osahan-body">
      <Nuxt />
    </div>
  </div>
</template>
