<script>
import {mapState} from 'vuex'

export default {
  name: 'Home',
  computed: {
    ...mapState({
      carts: state => state.carts.carts,
      amount: state => state.carts.amount,
      loadingCart: state => state.carts.loading,
      customerWalletSelected: state => state.carts.customerWalletSelected,
    }),
  },

  watch: {
    loadingCart(newVal, oldVal) {
      if (this.$auth.loggedIn && !newVal) {
        this.$store.dispatch("carts/getAll")
      }
    }
  },
  beforeCreate() {
    if (this.$auth.loggedIn) {
      this.$store.dispatch("carts/getAll")
    }
  },
}
</script>
<style lang="css" src="assets/mobile/icons/icofont.min.css"></style>
<style lang="css" src="assets/mobile/css/bootstrap.min.css"></style>
<style lang="scss" src="~/assets/mobile/scss/mobile.scss"></style>
<style lang="css" src="assets/mobile/css/demo.css"></style>

<template>
  <!-- Begin page -->
  <div class="osahan-home-page">
    <BackTop />
    <a-affix :offset-top="0">    <Header /></a-affix>
    <div class="osahan-body" style="padding-bottom: 68px">
      <Nuxt />
    </div>
    <MenuFooter />
  </div>
</template>
