<template>
  <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
    <div class="list-card-image">
      <div>
        <div class="member-plan position-absolute" style="right: 0"><span
          class="badge m-3 badge-danger" v-if="$calcDiscount(variant)"> {{ $discount(variant) }}</span></div>
        <div class="p-2">
          <img v-if="!$isEmpty(variant.avatar) && !$isEmpty(variant.avatar.absolute_link)" :src="variant.avatar.absolute_link" class="img-fluid item-img w-100 mb-3" style="height: 139px">
          <img v-else src="/no-product-found.png" class="img-fluid item-img w-100 mb-3" style="height: 139px">
          <nuxt-link :to="$buildSlug(variant)" style="height: 58px" class="sp-line-3 name mb-2 text-dark" :title="variant.name">{{ variant.name }}</nuxt-link>
          <h6 class="price m-0 text-success">{{ $moneyFormat(variant.price_sale) }}</h6>
          <div class="d-flex align-items-center mt-2">
            <div class="input-group input-spinner cart-items-number">
              <div class="input-group-prepend">
                <button class="btn btn-success btn-sm" type="button" @click="quantity++"> +</button>
              </div>
              <input type="number" class="form-control" min="1" v-model="quantity">
              <div class="input-group-append">
                <button class="btn btn-success btn-sm" type="button" @click="--quantity"> −</button>
              </div>
            </div>
            <div class="ml-auto">
              <a-spin :spinning="loadingCart && variantIdCheck === variant.id">
              <a href="javascript:void(0);" @click="$store.dispatch('carts/addItemToCart', {id: variant.id, quantity: quantity})" style="font-size: 24px"><i class="text-success icofont-cart"></i></a>
              </a-spin>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from "vuex";
export default {
  name: 'MobileProduct',
  props: ['variant'],
  computed: {
    ...mapState({
      loadingCart: state => state.carts.loading,
      variantIdCheck: state => state.carts.variantIdCheck,
    }),
  },
  data() {
    return {
      quantity: 1,
    }
  },
  watch: {
    quantity (newVal, oldVal) {
      if (newVal <= 0) {
        this.quantity = 1
      }
    }
  },
}
</script>
