<template>
  <div class="pick_today px-3">
    <a-spin :spinning="loadingProduct" class="m-auto" tip="Đang tải thêm dữ liệu...">
      <div class="row" v-infinite-scroll="handleInfiniteOnLoad"
           :infinite-scroll-disabled="busy" :infinite-scroll-immediate-check="true"
           :infinite-scroll-distance="distance">
        <div class="col-6 p-2" v-for="(product, index) in products" :key="index">
          <MobileProduct :variant="product"/>
        </div>
        <a-spin :spinning="loading && !busy" class="m-auto" tip="Đang tải thêm dữ liệu..."/>
      </div>
    </a-spin>
  </div>
</template>

<script>
import {mapState} from "vuex";
import MobileProduct from "~/components/Mobile/Partials/Products/MobileProduct";

export default {
  name: 'MobileProductsBox',
  components: {MobileProduct},
  computed: {
    ...mapState({
      products: state => state.products.list,
      product: state => state.products.object,
      total: state => state.products.total,
      loadingProduct: state => state.products.loading,
      categories: state => state.categories.list,
    }),
  },
  data() {
    return {
      data: [],
      loading: false,
      busy: false,
      distance: 20,
    };
  },
  beforeCreate() {
    this.$store.dispatch('products/setListEmpty', [])
  },
  created() {
    this.$store.dispatch('products/setLoading', true)
    this.$store.dispatch("products/getAll") // @todo @kayn xử lý lỗi chuyển tab quá nhanh mà axios chưa xong => dữ liệu sẽ bị concat sai
  },
  methods: {
    handleInfiniteOnLoad() {
      const vm = this
      this.loading = true;
      let promise
      if (vm.busy) {
        return true
      }
      promise = this.$store.dispatch("products/getAll", {scroll: true})
      promise.then(function (res) {
        if (res.success === true) {
          if (!res.value.products.length) {
            vm.busy = true;
            vm.distance = 0;
          }
          vm.loading = false;
        } else {
          vm.$message.error(res.message)
        }
      }).catch(function (error) {
        if (!vm.$isEmpty(error.response) && vm.$isEmpty(error.response.data.errors)) {
          error.response.data.errors.forEach(function (el) {
            vm.$message.error(el.message)
          })
        } else {
          vm.$message.error('Có lỗi xảy ra. Vui lòng liên hệ quản trị viên để được hướng dẫn.')
        }
      })

    },
  }
}
</script>
