<template>
  <div v-if="host !== hostname">
    <div class="p-3 border-bottom">
      <div class="d-flex align-items-center mb-2">
        <nuxt-link to="/account/profile" class="text-decoration-none text-dark">
          <i class="icofont-rounded-left back-page"></i></nuxt-link>
        <span class="font-weight-bold ml-3 h6 mb-0">Danh sách đơn mua hàng</span>
      </div>
    </div>
    <div>
      <a-tabs default-active-key="1" @change="callback">
        <a-tab-pane key="1" tab="Danh sách đơn hàng">
          <div class="order-body px-3 pt-3">
            <div class="pb-3" v-for="order in orders" :key="order.id">
              <div class="p-3 rounded shadow-sm bg-white">
                <div class="d-flex align-items-center mb-3">
                  <p :class="'text-white py-1 px-2 rounded small m-0 bg-'+order.status.style">{{ order.status.name }}</p>
                  <p class="text-muted ml-auto small m-0"><i class="icofont-clock-time"></i> {{ order. created_at}}</p>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                  <p class="text-muted m-0">Mã g.dịch<br>
                    <span class="text-dark font-weight-bold">#{{ order.id }}</span>
                  </p>

                  <p class="text-muted m-0 ml-auto">Số lượng<br>
                    <span class="text-dark font-weight-bold">x{{ order.quantity }}</span>
                  </p>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                  <p class="text-muted m-0">Tổng tiền<br>
                    <span class="text-dark font-weight-bold">{{ $moneyFormat(order.total) }}</span>
                  </p>
                  <p class="text-muted m-0 ml-auto">Phí v.chuyển <br>
                    <span class="text-dark font-weight-bold">{{ order.distance.text + '~' +$moneyFormat(order.fee) }}</span>
                  </p>
                  <p class="text-muted m-0 ml-auto">Thành tiền<br>
                    <span class="text-dark font-weight-bold">{{ $moneyFormat(order.grand_total) }}</span>
                  </p>
                </div>
                <!--            <p class="text-muted m-0 ml-auto">Giao tới: <b>{{ order.delivery_address.full_name }}</b></p>-->
                <!--            <p class="text-muted m-0 ml-auto">SĐT: <a :href="'tel:'+order.delivery_address.mobile">{{ order.delivery_address.mobile }}</a> - E-mail: <a :href="'mailto:'+order.delivery_address.email">{{ order.delivery_address.email }}</a></p>-->
                <!--            <p class="text-muted m-0 ml-auto">Xã, Huyện, Tỉnh: <b>{{ $getLocation(order.delivery_address) }}</b></p>-->
                <!--            <p class="text-muted m-0 ml-auto">Đ.chỉ trên gg.map: <a :href="'https://www.google.com/maps/place/'+order.delivery_address.street" target="_blank">{{ order.delivery_address.street }}</a></p>-->
                <!--            <div class="mt-2 d-flex align-items-center">-->
                <!--              <p class="ml-auto py-1 px-2 rounded m-0 bg-light font-weight-bold"><i class="icofont-delivery-time h4"></i> Đơn vị v.chuyển: {{ order.deliver.full_name}}</p>-->
                <!--            </div>-->
                <!--            <button v-if="order.status.id === 0" @click="cancelOrder(order.id)" class="mt-3 btn btn-danger"><b>Hủy đơn</b></button>-->
              </div>
            </div>
          </div>
        </a-tab-pane>
        <a-tab-pane key="2" tab="Quản lý đơn hàng" force-render>
          <div class="order-body px-3 pt-3">
            <div @click="showModal" class="pb-3" v-for="order in orders" v-if="order.status.id !== -4 && order.status.id !== -1 && order.status.id !== 9 && order.status.id !== 4" :key="order.id">
              <div class="p-3 rounded shadow-sm bg-white">
                <div class="d-flex align-items-center mb-3">
                  <p :class="'text-white py-1 px-2 rounded small m-0 bg-'+order.status.style">{{ order.status.name }}</p>
                  <p class="text-muted ml-auto small m-0"><i class="icofont-clock-time"></i> {{ order. created_at}}</p>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                  <p class="text-muted m-0">Mã g.dịch<br>
                    <span class="text-dark font-weight-bold">#{{ order.id }}</span>
                  </p>

                  <p class="text-muted m-0 ml-auto">Số lượng<br>
                    <span class="text-dark font-weight-bold">x{{ order.quantity }}</span>
                  </p>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                  <p class="text-muted m-0">Tổng tiền<br>
                    <span class="text-dark font-weight-bold">{{ $moneyFormat(order.total) }}</span>
                  </p>
                  <p class="text-muted m-0 ml-auto">Phí v.chuyển <br>
                    <span class="text-dark font-weight-bold">{{ order.distance.text + '~' +$moneyFormat(order.fee) }}</span>
                  </p>
                  <p class="text-muted m-0 ml-auto">Thành tiền<br>
                    <span class="text-dark font-weight-bold">{{ $moneyFormat(order.grand_total) }}</span>
                  </p>
                </div>
                <!--            <p class="text-muted m-0 ml-auto">Giao tới: <b>{{ order.delivery_address.full_name }}</b></p>-->
                <!--            <p class="text-muted m-0 ml-auto">SĐT: <a :href="'tel:'+order.delivery_address.mobile">{{ order.delivery_address.mobile }}</a> - E-mail: <a :href="'mailto:'+order.delivery_address.email">{{ order.delivery_address.email }}</a></p>-->
                <!--            <p class="text-muted m-0 ml-auto">Xã, Huyện, Tỉnh: <b>{{ $getLocation(order.delivery_address) }}</b></p>-->
                <!--            <p class="text-muted m-0 ml-auto">Đ.chỉ trên gg.map: <a :href="'https://www.google.com/maps/place/'+order.delivery_address.street" target="_blank">{{ order.delivery_address.street }}</a></p>-->
                <!--            <div class="mt-2 d-flex align-items-center">-->
                <!--              <p class="ml-auto py-1 px-2 rounded m-0 bg-light font-weight-bold"><i class="icofont-delivery-time h4"></i> Đơn vị v.chuyển: {{ order.deliver.full_name}}</p>-->
                <!--            </div>-->
                <!--            <button v-if="order.status.id === 0" @click="cancelOrder(order.id)" class="mt-3 btn btn-danger"><b>Hủy đơn</b></button>-->
              </div>
<!--              <a-modal-->
<!--                :title="`Chi tiết đơn mua hàng #${order.id}`"-->
<!--                :visible="visible"-->
<!--                :confirm-loading="confirmLoading"-->
<!--                @ok="handleOk"-->
<!--                @cancel="handleCancel"-->
<!--              >-->
<!--                jkosdhgjidshgnjidshngjsdhngjkdsng-->
<!--              </a-modal>-->
            </div>
          </div>
        </a-tab-pane>
        <a-tab-pane key="3" tab="Quản lý xoá đơn hàng">
          <div class="order-body px-3 pt-3">
            <div class="pb-3" v-for="order in orders" v-if="order.status.id === 4" :key="order.id">
              <div class="p-3 rounded shadow-sm bg-white">
                <div class="d-flex align-items-center mb-3">
                  <p :class="'text-white py-1 px-2 rounded small m-0 bg-'+order.status.style">{{ order.status.name }}</p>
                  <p class="text-muted ml-auto small m-0"><i class="icofont-clock-time"></i> {{ order. created_at}}</p>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                  <p class="text-muted m-0">Mã g.dịch<br>
                    <span class="text-dark font-weight-bold">#{{ order.id }}</span>
                  </p>

                  <p class="text-muted m-0 ml-auto">Số lượng<br>
                    <span class="text-dark font-weight-bold">x{{ order.quantity }}</span>
                  </p>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                  <p class="text-muted m-0">Tổng tiền<br>
                    <span class="text-dark font-weight-bold">{{ $moneyFormat(order.total) }}</span>
                  </p>
                  <p class="text-muted m-0 ml-auto">Phí v.chuyển <br>
                    <span class="text-dark font-weight-bold">{{ order.distance.text + '~' +$moneyFormat(order.fee) }}</span>
                  </p>
                  <p class="text-muted m-0 ml-auto">Thành tiền<br>
                    <span class="text-dark font-weight-bold">{{ $moneyFormat(order.grand_total) }}</span>
                  </p>
                </div>
                <!--            <p class="text-muted m-0 ml-auto">Giao tới: <b>{{ order.delivery_address.full_name }}</b></p>-->
                <!--            <p class="text-muted m-0 ml-auto">SĐT: <a :href="'tel:'+order.delivery_address.mobile">{{ order.delivery_address.mobile }}</a> - E-mail: <a :href="'mailto:'+order.delivery_address.email">{{ order.delivery_address.email }}</a></p>-->
                <!--            <p class="text-muted m-0 ml-auto">Xã, Huyện, Tỉnh: <b>{{ $getLocation(order.delivery_address) }}</b></p>-->
                <!--            <p class="text-muted m-0 ml-auto">Đ.chỉ trên gg.map: <a :href="'https://www.google.com/maps/place/'+order.delivery_address.street" target="_blank">{{ order.delivery_address.street }}</a></p>-->
                <!--            <div class="mt-2 d-flex align-items-center">-->
                <!--              <p class="ml-auto py-1 px-2 rounded m-0 bg-light font-weight-bold"><i class="icofont-delivery-time h4"></i> Đơn vị v.chuyển: {{ order.deliver.full_name}}</p>-->
                <!--            </div>-->
                <!--            <button v-if="order.status.id === 0" @click="cancelOrder(order.id)" class="mt-3 btn btn-danger"><b>Hủy đơn</b></button>-->
              </div>
            </div>
          </div>
        </a-tab-pane>
      </a-tabs>
    </div>
    <MenuFooter/>
  </div>
</template>
<script>
export default {
  data: () => {
    return {
      orders: [],
      host: process.env.HOST,
      hostname: window.location.hostname,
      visible: false,
      confirmLoading: false,
    }
  },
  mounted() {
   this.getOrders()
  },
  methods :{
    showModal() {
      this.visible = true;
    },
    handleOk(e) {
      this.ModalText = 'The modal will be closed after two seconds';
      this.confirmLoading = true;
      setTimeout(() => {
        this.visible = false;
        this.confirmLoading = false;
      }, 2000);
    },
    handleCancel(e) {
      this.visible = false;
    },
    callback(key) {
      console.log(key);
    },
    getOrders: function () {
      let vm = this;
      this.$api.orders.all(this.$route.query)
        .then((res)=>{
          vm.orders = res.value.orders
        }).catch((error)=>{
        alert(error)
      })
    }
  }
}
</script>
