<template>
  <div>
    <a-spin :spinning="loadingCart" tip="Đang tải dữ liệu...">
      <div class="osahan-body" style="padding-bottom: 8rem">
        <div class="cart-items bg-white position-relative border-bottom" v-for="item in cart.items">
          <CartProduct :item="item"/>
        </div>
      </div>
      <div class="fixed-bottom">
        <div class="osahan-menu-fotter bg-white border-top">
          <a-spin :spinning="loadingCart">
            <div href="javascript:void(0);"
                 class="py-3 pl-3 pr-5 h4 m-0">
              <span class="sum_quan d-block">Tổng số lượng: <b class="text-danger">{{
                  parseInt(cart.items_sum_quantity)
                }}</b></span>
              <span class="sum_quan d-block">Thành tiền: <b class="text-success">{{
                  $moneyFormat(totalEachCart)
                }}</b></span>
            </div>
          </a-spin>
          <a-spin :spinning="loadingCart">
            <nuxt-link :to="'/carts/'+$route.params.slug+'/delivery-address'"
                       class="btn btn-success text-white btn-block">Đặt hàng
            </nuxt-link>
          </a-spin>

        </div>
      </div>

    </a-spin>
    <a-back-top/>
  </div>
</template>

<script>
import {mapState, mapGetters} from "vuex";
import CartProduct from "@/components/Mobile/Partials/Carts/CartProduct";

export default {
  name: 'WholesalePage',
  layout: 'cart',
  components: {CartProduct},
  computed: {
    ...mapState({
      variant: state => state.products.variant,
      products: state => state.products.object,
      cart: state => state.carts.cart,
      amount: state => state.carts.amount,
      loadingCart: state => state.carts.loading,
      variantIdCheck: state => state.carts.variantIdCheck,
    }),
    ...mapGetters({
      totalEachCart: 'carts/totalEachCart'
    }),
  },
  watch: {
    quantity(newVal, oldVal) {
      if (newVal <= 0) {
        this.quantity = 1
      }
      this.$store.dispatch('carts/addItemToCart', {id: item.variant.id, quantity: this.quantity, role: 'update'})
    },
  },
  data() {
    return {
      busy: false,
      quantity: 1,
    }
  },
  beforeCreate() {
    this.$store.dispatch("carts/getItemCart", {code: this.$route.params.slug})
  },
  methods: {}
}
</script>
