<template>
  <div>
    <div class="p-3" v-if="carts.length">
      <div class="py-2" v-for="cart in carts">
        <nuxt-link :to="'/carts/'+cart.type.code" class="text-decoration-none text-white my-3">
          <div class="rounded bg-success shadow-sm p-3 text-white">
            <div class="row align-items-center">
              <div class="col-7">
                <div class="d-flex align-items-center">
                  <div class="brand">
                    <h5 class="m-0  text-white">{{ !cart.type.name ? '---' : cart.type.name }}</h5>
                  </div>
                </div>
                <div class="mt-2 mb-3">
                  <p class="text-white m-0">{{ cart.items_sum_quantity }} sản phẩm</p>
                </div>
                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm"><i
                  class="icofont-sale-discount"></i> Xem giỏ hàng</a>
              </div>
              <div class="col-5 text-center">
                <nuxt-link :to="'/carts/'+cart.type.code"><img src="/img/promos/p1.png" class="img-fluid"></nuxt-link>
              </div>
            </div>
          </div>
        </nuxt-link>
      </div>
    </div>
    <nuxt-link v-else to="/" class="text-decoration-none text-white my-3">
      <div class="osahan-success bg-success vh-100">
        <div class="p-5 text-center">
          <i class="icofont-check-circled display-1 text-warning"></i>
          <h4 class="text-white font-weight-bold">Không có sản phẩm nào trong giỏ hàng của bạn.</h4>
        </div>
      </div>
      <div class="fixed-bottom">
        <div class="osahan-menu-fotter bg-white border-top rounded text-center">
        <a href="/" class="btn rounded btn-warning btn-lg btn-block">Mua sắm ngay</a>
      </div>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import {mapState} from "vuex";
import MobileProductsBox from "~/components/Mobile/Partials/Products/MobileProductsBox";

export default {
  name: 'CartIndex',
  layout: 'cart',
  components: {MobileProductsBox},
  computed: {
    ...mapState({
      carts: state => state.carts.carts,
    }),
  },
  watch: {
    quantity (newVal, oldVal) {
      if (newVal <= 0) {
        this.quantity = 1
      }
    },
  },
  data() {
    return {
      busy: false,
      quantity: 1,

    }
  },

  methods: {

  }
}
</script>
