<script>
import moment from 'moment';
import {mapGetters, mapState} from "vuex";
export default {
  name: 'FilterRequest',
  data() {
    return {
      filters: [],
      req: {},
    };
  },
  props: ['uri'],
  mounted() {

  },
  created() {
    this.fetchFilter()
  },

  computed: {
    ...mapState({
      visible: state => state.filter.visible,
    }),
  },
  methods: {
    handleRightBarClick(e, el) {
      document.body.classList.remove("right-bar-enabled");
    },
    middleware(event, el) {
      return !event.target.classList.contains("toggle-right");
    },
    confirmReset() {
      this.$router.push({path: '', query: {}})
      this.req = {}
    },
    async confirmExport() {
      const vm = this
      vm.submitClick()
      vm.$message.loading('Đang thực thi...')
      let payload = {
        ...this.$route.query
      }
      await this.$api.filters.export(this.uri+'/export', payload)
          .then((res) => {
            if (res.success) {
              vm.$message.success(res.message)
              window.open(res.value.file, '_blank');
            }
          }).catch((error) => {
          })
    },
    moment,
    async fetchFilter() {
      const vm = this
      await vm.$api.filters.index({uri: vm.uri})
          .then((res) => {
            if (res.success) {
              vm.filters = res.value.filters
              vm.filters.forEach((item, key) => {
                let v = ''
                if (item.mode === 'multiple') {
                  v = []
                }
                if (item.type === 'date_range') {
                  v = []
                }
                if (item.mode === 'range') {
                  v = []
                }
                vm.$set(vm.req, item.id, v)
              })
              Object.entries(vm.$route.query).forEach(([key, value]) => {
                if (typeof vm.req[key] !== "undefined") {
                  if (Array.isArray(vm.$route.query[key])) {
                    if (vm.filters.find(e => e.id === key).type === 'date_range') {
                      vm.req[key] = value;
                    }
                    Object.entries(value).forEach(([k, v]) => {
                      if (vm.filters.find(e => e.id === key).type === 'date_range') {
                        for (const ke in vm.req[key]) {
                          vm.req[key][ke] = moment(vm.$route.query[key][ke], 'DD/MM/YYYY h:mm:ss')
                        }
                      }else {
                        if (!isNaN(v)) {
                          vm.req[key][k] = parseInt(v)
                        }
                      }
                    })
                  }else {
                    if (value !== null) {
                      if (vm.filters.find(e => e.id === key).type === 'date') {
                        if (vm.$route.query[key]) {
                          vm.req[key] = moment(vm.$route.query[key], 'DD/MM/YYYY h:mm')
                        }
                      }if (vm.filters.find(e => e.id === key).mode === 'range') {
                        if (vm.$route.query[key]) {
                          vm.req[key] = [vm.$route.query[key]]
                        }
                      } else {
                        if (!isNaN(value)) {
                          vm.req[key] = parseInt(value)
                        } else {
                          vm.req[key] = value
                        }
                      }
                    }
                  }
                }
              })
            }
          }).catch((error) => {
          })

    },

    submitClick() {
      const vm = this
      let query = {
        ...vm.$route.query, ...vm.req
      }
      this.filters.forEach((item, key) => {
        if (item.type === 'date' && query[item.id]) {
          query[item.id] = query[item.id].format('DD/MM/YYYY HH:mm')
        }

        if (item.type === 'date_range' && query[item.id]) {
          for (const k in query[item.id]) {
            query[item.id][k] = query[item.id][k].format('DD/MM/YYYY HH:mm:ss')
          }
        }
      })
      this.$router.push({path: '', query: query})
      this.filters.forEach((item, key) => {
        if (item.type === 'date' && query[item.id]) {
          let date = query[item.id]
          vm.req[item.id] = moment(date, 'DD/MM/YYYY h:mm')
        }
        if (item.type === 'date_range' && query[item.id]) {
          for (const k in query[item.id]) {
            let date = query[item.id][k]
            vm.req[item.id][k] = moment(date, 'DD/MM/YYYY h:mm:ss')
          }
        }
      })
    },
    getCurrentStyle(current, today) {
      const style = {
        width: 100+'%'
      };
      if (current.date() === 1) {
        style.border = '1px solid #1890ff';
        style.borderRadius = '50%';
      }
      return style;
    },

  },
};
</script>

<template>
  <div>
    <a-drawer
        title="Tìm kiếm nâng cao"
        placement="right"
        :closable="false"
        :visible="visible"
        @close="$store.dispatch('filter/onOff', false)"
    >

      <!-- Right Sidebar -->
      <div class="right-bar filter" style="z-index: 1031;">
        <simplebar class="h-100">
          <form @submit.stop.prevent="submitClick" class="container-fluid">
            <div class="row">
              <div class="col-12 col-md-12 py-1" v-for="(filter, _fi) in filters" :key="_fi+'_'+filter.id">
                <a-tooltip placement="top">
                  <template slot="title">
                    <span>{{ filter.name }}</span>
                  </template>
                  <label :for="_fi+'_filter'">
                    {{ filter.name }}
                  </label>
                  <a-select :id="_fi+'_filter'" v-if="filter.type === 'select'" style="width: 100%" v-model="req[filter.id]" show-search
                            :mode="filter.mode" :placeholder="filter.placeholder" :filter-option="$filterOption">
                    <a-icon slot="suffixIcon" :type="filter.icon.prefix" />
                    <a-tooltip slot="suffix" :title="filter.name">
                      <a-icon :type="filter.icon.suffix" style="color: rgba(0,0,0,.45)" />
                    </a-tooltip>
                    <a-select-option v-for="item in filter.values" :key="item.id" :value="item.id" >
                      {{ item.name }}
                    </a-select-option>
                  </a-select>
                  <a-date-picker :id="_fi+'_filter'" v-else-if="filter.type === 'date'" v-model="req[filter.id]"
                                 format="DD/MM/YYYY HH:mm" :show-time="{ defaultValue: moment('00:00', 'HH:mm') }"
                                 style="width: 100%" :placeholder="filter.placeholder">
                    <template slot="dateRender" slot-scope="current, today">
                      <div class="ant-calendar-date" :style="getCurrentStyle(current, today)">
                        {{ current.date() }}
                      </div>
                    </template>
                  </a-date-picker>
                  <a-range-picker :id="_fi+'_filter'" v-else-if="filter.type === 'date_range'" v-model="req[filter.id]"
                                  :ranges="{ Today: [moment(), moment()], 'This Month': [moment(), moment().endOf('month')] }"
                                  show-time style="width: 100%" :placeholder="['Bắt đầu', 'Kết thúc']"
                                  format="DD/MM/YYYY HH:mm:ss"
                  />
                  <a-input-group :id="_fi+'_filter'" compact style="width: 100%" v-else-if="filter.mode === 'range'">
                    <a-input style=" width: 45%; text-align: center" placeholder="Minimum" :type="filter.type" v-model="req[filter.id][0]" />
                    <a-input
                        style=" width: 30px; border-left: 0; pointer-events: none; backgroundColor: #fff"
                        placeholder="~"
                        disabled
                    />
                    <a-input style="width: 46.5%; text-align: center; border-left: 0" placeholder="Maximum" :type="filter.type" v-model="req[filter.id][1]" />
                  </a-input-group>
                  <a-input :id="_fi+'_filter'" v-else :ref="filter.id" v-model="req[filter.id]" :placeholder="filter.placeholder" allow-clear>
                    <a-icon slot="prefix" :type="filter.icon.prefix" />
                    <a-tooltip slot="suffix" :title="filter.name">
                      <a-icon :type="filter.icon.suffix" style="color: rgba(0,0,0,.45)" />
                    </a-tooltip>
                  </a-input>
                </a-tooltip>


              </div>
              <a-button-group class="col col-md-12">
                <a-popconfirm placement="topLeft" ok-text="Yes" cancel-text="No" @confirm="confirmReset">
                  <template slot="title">
                    <p>Bạn có chắc chắn muốn reset bộ lọc hay không?</p>
                  </template>
                  <a-button>Reset</a-button>
                </a-popconfirm>
                <a-button icon="search" block html-type="submit">Tìm kiếm</a-button>
              </a-button-group>
            </div>
          </form>
          <!-- Nav tabs -->
        </simplebar>
        <!-- end slimscroll-menu-->
      </div>
      <!-- /Right-bar -->

    </a-drawer>
  </div>
</template>
