<template>
  <div :class="'border-bottom p-3 logo-hoanggia '+ menuFixed">
    <div class="title d-flex align-items-center">
      <a href="/" style="width: 200px;" class="text-decoration-none text-dark d-flex align-items-center">
        <b class="d-flex flex-column hoanggia-name">
          <img class="osahan-logo" src="/logo-mobile-minhphucmart.png">
          MINH PHÚC MART
        </b>
      </a>
      <div class="row">
        <div class="col-lg-12" style="display: flex; justify-content: end">
          <nuxt-link to="/carts"
                     class="text-decoration-none bg-white p-1 ml-2 rounded shadow-sm d-flex align-items-end">
            <i class="text-dark icofont-cart"></i>
            <span class="badge badge-danger p-1 ml-1 small">{{ amount }}</span>
          </nuxt-link>
        </div>
        <div class="welcome-user" style="font-weight: 700">
          <span v-if="$auth.user" class="sp-line-1 text-dark">Xin chào, <span class="text-danger">{{ $auth.user.full_name }}</span></span>
        </div>
      </div>

    </div>
    <a href="javascript:void(0);" class="text-decoration-none">
      <div class="input-group mt-3 rounded shadow-sm overflow-hidden bg-white">
        <div class="input-group-prepend">
          <button class="border-0 btn btn-outline-secondary bg-white"><i
            class="icofont-search"></i></button>
        </div>
        <input type="text" class="shadow-none border-0 form-control pl-0" v-model.lazy="keyword"
               placeholder="Tìm kiếm sản phẩm,..."
               aria-label="" aria-describedby="basic-addon1">
      </div>
    </a>
  </div>
</template>
<script>
  import {mapState} from "vuex";

  export default {
    name: 'Header',
    data() {
      let fixed;
      return {
        keyword: this.$route.query.q,
        menuFixed: '',
      }
    },
    mounted() {
      const vm = this;
      window.onscroll = function () {
        onScroll()
      };
      var sticky = 5;

      function onScroll() {
        if (window.pageYOffset > sticky) {
          vm.menuFixed = 'bg-hoanggia text-white';
        } else {
          vm.menuFixed = '';
        }
      }
    },
    computed: {
      ...mapState({
        carts: state => state.carts.carts,
        amount: state => state.carts.amount,
        loadingCart: state => state.carts.loading,
      }),
    },


    watch: {
      keyword(newVal, oldVal) {
        this.$router.push({path: this.$route.path, query: {q: newVal}});
      },
      '$route.query'(newVal, oldVal) {
        this.$store.dispatch('products/setListEmpty')
        this.$store.dispatch('products/setLoading', true)
        this.$store.dispatch('products/getAll')
      }
    }
  }
</script>
