<template>
  <div class="fixed-bottom" style="display: flex;justify-content: center;">
    <div class="osahan-menu-fotter bg-white text-center border-top" style="display:block!important; max-width: 420px !important;width: 420px;">
      <div class="row m-0">
        <nuxt-link to="/" class="text-gray small col text-decoration-none p-2">
          <p class="h5 m-0"><i class="icofont-grocery"></i></p>
          Mua hàng
        </nuxt-link>
        <nuxt-link to="/carts" class="text-gray col-5 small text-decoration-none p-2">
          <p class="h5 m-0"><i class="icofont-cart"></i></p>
          Giỏ hàng <b class="text-danger">({{ $moneyFormat(totalEachCart) }})</b>
        </nuxt-link>
        <nuxt-link to="/account/orders/completed" class="text-gray col small text-decoration-none p-2">
          <p class="h5 m-0"><i class="icofont-bag"></i></p>
          Đơn hàng
        </nuxt-link>
        <nuxt-link to="/account/profile" class="text-gray small font-weight-bold col text-decoration-none p-2">
          <p class="h5 m-0"><i class="icofont-user"></i></p>
          Tài khoản
        </nuxt-link>
      </div>
    </div>
  </div>

</template>


<script>
import {mapGetters, mapState} from "vuex";

export default {
  name: 'MenuFooter',
  computed: {
    ...mapState({
      carts: state => state.carts.carts,
      amount: state => state.carts.amount,
      loadingCart: state => state.carts.loading,
    }),
    ...mapGetters({
      totalEachCart: 'carts/totalEachCart'
    }),
  },
  beforeCreate() {
    if (this.$auth.loggedIn) {
      this.$store.dispatch("carts/getItemCart", {code: 'wholesale', notice: false})
    }
  },
}
</script>
