<template>
  <div class="p-3 osahan-categories">
    <h6 class="mb-2">Bạn đang tìm gì hôm nay?</h6>
    <div class="row" style="margin: 0 -0.25rem">
      <div class="col-4 p-1 "  v-for="(category, index) in categories">
        <div class="bg-white shadow-sm rounded text-center  px-2 py-3 c-it">
          <nuxt-link :to="$buildCategorySlug(category)">
            <img :src="category.avatar" class="img-fluid px-2">
            <p class="m-0 font-weight-bold pt-2 text-muted text-center sp-line-2" style="font-size: 13px; height: 44px">{{ category.name }}</p>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: 'MobileCategoriesBox',
  computed: {
    ...mapState({
      categories: state => state.categories.list,
    }),
  }
}
</script>
