<template>
  <div class="osahan-account">
    <div class="p-3 border-bottom">
      <div class="d-flex align-items-center">
        <h5 class="font-weight-bold m-0">Cá nhân</h5>
        <a class="toggle ml-auto" href="#"><i class="icofont-navigation-menu"></i></a>
      </div>
    </div>
    <div class="p-4 profile text-center border-bottom">
      <img src="/user-verified.png" class="img-fluid rounded-pill" width="100">
      <h6 class="font-weight-bold m-0 mt-2">{{ $auth.user.full_name }}</h6>
      <p class="small text-muted"><a :href="link()" target="_blank" class="__cf_email__">[{{ $auth.user.account }}]</a>
      </p>
      <button class="btn-secondary  btn" type="button" v-if="canCopy" @click="copy(linkRef())"><i class="icofont-copy"></i> Sao chép link giới thiệu</button>

      <nuxt-link to="/account/info" class="btn btn-success btn-sm"><i class="icofont-pencil-alt-5"></i> Chỉnh sửa</nuxt-link>
    </div>
    <div class="account-sections">
      <ul class="list-group pb-5">
        <a href="https://sellercenter.minhphucmart.vn/" class="text-decoration-none text-dark">
          <li class="border-bottom bg-white d-flex align-items-center p-3">
            <i class="icofont-dashboard-web osahan-icofont bg-warning"></i>Kênh bán hàng
            <span class="badge badge-success p-1 badge-pill ml-auto"><i class="icofont-simple-right"></i></span>
          </li>
        </a>
        <nuxt-link to="/account/password" class="text-decoration-none text-dark">
          <li class="border-bottom bg-white d-flex align-items-center p-3">
            <i class="icofont-ui-password osahan-icofont bg-info"></i>Đổi mật khẩu
            <span class="badge badge-success p-1 badge-pill ml-auto"><i class="icofont-simple-right"></i></span>
          </li>
        </nuxt-link>
        <nuxt-link to="/account/wallets" class="text-decoration-none text-dark">
          <li class="border-bottom bg-white d-flex align-items-center p-3">
            <i class="icofont-wallet  osahan-icofont bg-primary"></i>Ví của bạn
            <span class="badge badge-success p-1 badge-pill ml-auto"><i class="icofont-simple-right"></i></span>
          </li>
        </nuxt-link>
        <nuxt-link to="/account/deposit" class="text-decoration-none text-dark" v-if="host !== hostname">
          <li class="border-bottom bg-white d-flex align-items-center p-3">
            <i class="icofont-money-bag osahan-icofont bg-warning"></i>Đơn nạp điểm
            <span class="badge badge-success p-1 badge-pill ml-auto"><i class="icofont-simple-right"></i></span>
          </li>
        </nuxt-link>
        <nuxt-link to="/account/deposit/transaction" class="text-decoration-none text-dark" v-if="host !== hostname">
          <li class="border-bottom bg-white d-flex align-items-center p-3">
            <i class="icofont-money-bag osahan-icofont bg-warning"></i>Lịch sử giao dịch
            <span class="badge badge-success p-1 badge-pill ml-auto"><i class="icofont-simple-right"></i></span>
          </li>
        </nuxt-link>
        <nuxt-link to="/widthdrawmoney" class="text-decoration-none text-dark" v-if="host !== hostname">
          <li class="border-bottom bg-white d-flex align-items-center p-3">
            <i class="icofont-money osahan-icofont bg-info"></i>Rút tiền
            <span class="badge badge-success p-1 badge-pill ml-auto"><i class="icofont-simple-right"></i></span>
          </li>
        </nuxt-link>
        <nuxt-link to="/bank" class="text-decoration-none text-dark" v-if="host !== hostname">
          <li class="border-bottom bg-white d-flex align-items-center p-3">
            <i class="icofont-bank-alt osahan-icofont bg-primary"></i>Tài khoản ngân hàng
            <span class="badge badge-success p-1 badge-pill ml-auto"><i class="icofont-simple-right"></i></span>
          </li>
        </nuxt-link>
        <nuxt-link to="/orders" class="text-decoration-none text-dark" v-if="host !== hostname">
          <li class="border-bottom bg-white d-flex align-items-center p-3">
            <i class="icofont-bag osahan-icofont bg-info"></i>Quản lý đơn đặt hàng
            <span class="badge badge-success p-1 badge-pill ml-auto"><i class="icofont-simple-right"></i></span>
          </li>
        </nuxt-link>
        <nuxt-link to="/agent" class="text-decoration-none text-dark" v-if="host !== hostname">
          <li class="border-bottom bg-white d-flex align-items-center p-3">
            <i class="icofont-ui-map osahan-icofont bg-info"></i>Quản lý ĐL / ST trả hàng của bạn
            <span class="badge badge-success p-1 badge-pill ml-auto"><i class="icofont-simple-right"></i></span>
          </li>
        </nuxt-link>
        <a href="javascript:void(0);" @click="$auth.logout()" class="text-decoration-none text-dark">
          <li class="border-bottom bg-white d-flex  align-items-center p-3">
            <i class="icofont-lock osahan-icofont bg-danger"></i> Đăng xuất
          </li>
        </a>
      </ul>
    </div>
    <MenuFooter />
  </div>
</template>

<script>

import {mapState} from "vuex";

export default {
  name: 'MobileProfile',
  middleware: ['auth'],
  computed: {
    ...mapState({
    }),
  },
  data(){
    return {
      canCopy:true,
      host: process.env.HOST,
      hostname: window.location.hostname
    }
    },
  methods: {
    link : function () {
      return '/register/?ref='+this.$auth.user.referral_code+'&mp_token='+this.$auth.user.mp_token;
    },
    linkRef: function () {
      return this.hostname + this.link();
    },
    copy(s) {
      navigator.clipboard.writeText(s);
      this.$message.success('Đã sao chép!')
    }

  },
  beforeCreate() {

  },
}
</script>
