<template lang="html">
  <div>
    <div class="osahan-signin bg-white">
      <div class="border-bottom p-3 d-flex align-items-center">
        <a class="font-weight-bold text-success text-decoration-none" href="/"><i
          class="icofont-rounded-left back-page"></i>Quay lại</a>
        <!-- <a class="return-home" href="/"><span style="font-weight: bold" class="text-success">Trang chủ</span></a> --->
      </div>

      <div class="p-3" v-if="!done">
        <h2  class="my-0 mb-5">Chào mừng đến với Minh Phúc Mart </h2>
        <form class="mb-5">
          <div>
            <v-text-field
              v-model="fullName"
              class="ps-text-field"
              :error-messages="fullNameErrors"
              @input=""
              label="Họ và tên"
              outlined
            />
          </div>
          <div>
            <v-text-field
              v-model="phone"
              class="ps-text-field"
              :error-messages="phoneErrors"
              @input=""
              label="Phone"
              outlined
            />
          </div>
          <div>
            <v-text-field
              v-model="email"
              class="ps-text-field" autofocus
              :error-messages="emailErrors"
              @input=""
              label="Email"
              outlined
            />
          </div>
          <div>
            <v-text-field
              v-model="cmnd"
              class="ps-text-field"
              @input=""
              label="CMND"
              outlined
            />
          </div>
          <div>
            <v-text-field
              v-model="parent_referral_code"
              class="ps-text-field"
              :error-messages="parentRefErrors"
              @input=""
              label="Mã giới thiệu"
              outlined
            />
          </div>
          <div v-if="seller_parent_referral_code">
            <v-text-field
              v-model="parent_referral_code"
              class="ps-text-field"
              :error-messages="sellerParentRefErrors"
              @input=""
              label="Mã giới thiệu gian hàng"
              outlined
            />
          </div>
          <div>
            <v-text-field
                v-model="account"
                class="ps-text-field"
                :error-messages="accountErrors"
                @input=""
                label="Tài khoản hoặc số điện thoại"
                outlined
            />
          </div>

          <div>
            <v-text-field
              v-model="password"
              type="password"
              class="ps-text-field"
              :error-messages="passwordErrors"
              @input=""
              label="Mật khẩu đăng nhập"
              outlined
            />
          </div>
          <div v-if="submitStatus === 'PENDING'">
            Đang xử lý...
          </div>
          <div v-else>
            <button @click.prevent="handleSubmit" type="submit" class="btn btn-success btn-lg rounded btn-block">Đăng kí</button>
          </div>
        </form>
        <div class="osahan-fotter fixed-bottom">
          <nuxt-link :to="'/login'" class="btn btn-block btn-lg bg-white">Bạn đã có tài khoản</nuxt-link>
        </div>
      </div>
      <div class="pt-3 px-1" v-else>
        <div class="osahan-success bg-success vh-100">
          <div class="text-center">
            <div class="p-5">
              <i class="icofont-check-circled display-1 text-warning"></i>
              <h1 class="text-white font-weight-bold">Tạo tài khoản thành công!</h1>
            </div>

            <table class="table table-centered table-striped table-bordered table-th-2line table-td-2line mt-2" cellpadding="0" cellspacing="0">
              <tbody>

              <tr>
                <td>
                  <div class="row list-x1">
                    <div class="text-left col-lg-6">
                      <span class="font-18">ID của bạn</span>
                    </div>
                    <div class="col-lg-6">
                      <b class="font-18">
                        {{ user.account }}
                      </b>
                    </div>
                    <div class="text-left col-lg-6">
                      <span class="font-18">Tài khoản đăng nhập</span>
                    </div>
                    <div class="col-lg-6">
                      <b class="font-18">
                        {{ user.account }}
                      </b>
                    </div>
                  </div>
                </td>

              </tr>
              <tr>
                <td class="text-center">
                  <a-button @click="$router.push({path: '/login', component: Login});" class="btn btn-sm btn-dark waves-effect waves-light">Đăng nhập ngay</a-button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

  </div>
</template>
<script>
import {email, helpers, maxLength, minLength, required, requiredIf} from 'vuelidate/lib/validators';
import Login from "@/pages/login";
const alphaString = helpers.regex('alphaString', /^[a-zA-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂẾưăạảấầẩẫậắằẳẵặẹẻẽềềểếỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\s\W|_]+$/i);
export default {
  name: 'Register',
  computed: {
    fullNameErrors() {
      const errors = [];
      if (!this.$v.fullName.$dirty) return errors;
      !this.$v.fullName.required && errors.push('Họ tên không được bỏ trống');
      !this.$v.fullName.alphaString && errors.push('Họ tên không hợp lệ.');
      !this.$v.fullName.minLength && errors.push('Họ tên quá ngắn. Tối thiểu '+ this.$v.fullName.$params.minLength.min + ' kí tự.');
      !this.$v.fullName.maxLength && errors.push('Họ tên quá dài. Tối đa '+ this.$v.fullName.$params.maxLength.max + ' kí tự.');
      return errors;
    },
    phoneErrors() {
      const errors = [];
      if (!this.$v.phone.$dirty) return errors;
      !this.$v.phone.required && errors.push('Số điện thoại không được bỏ trống');
      return errors;
    },
    parentRefErrors() {
      const errors = [];
      if (!this.$v.parent_referral_code.$dirty) return errors;
      !this.$v.parent_referral_code.required && errors.push('Mã giới thiệu không được bỏ trống');
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push('Email không đúng định dạng');
      return errors;
    },
    accountErrors() {
      const errors = [];
      if (!this.$v.account.$dirty) return errors;
      //!this.$v.account.required && errors.push('Tài khoản không được bỏ trống');
      // !this.$v.account.alphaNum && errors.push('Tài khoản đăng nhập chỉ bao gồm các chữ cái, số');
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.required && errors.push('Mật khẩu không được bỏ trống');
      !this.$v.password.minLength && errors.push('Mật khẩu đăng nhập quá yếu');
      return errors;
    },
  },
  data() {
    return {
      done: true,
      user: {},
      submitStatus: null,
      fullName: null,
      phone: null,
      cmnd: null,
      email: null,
      account: null,
      password: null,
      parent_referral_code: this.$route.query.ref ? this.$route.query.ref : '',
      seller_parent_referral_code: this.$route.query.seller_ref
    };
  },
  created() {
    this.done = false
    this.user = {}
  },
  validations: {
    phone: {
      required,
    },
    account: {
      //required,
      minLength: minLength(3),
      maxLength: maxLength(64)
    },
    email: {
      email
    },
    password: {
      required,
      minLength: minLength(6)
    },
    fullName: {
        required,
        alphaString,
        minLength: minLength(4),
        maxLength: maxLength(60)
    },
    parent_referral_code: {
      required: requiredIf(function () {
        return this.parent_referral_code
      })
    },
    seller_parent_referral_code: {
      required: requiredIf(function () {
        return this.seller_parent_referral_code
      })
    },
  },
  methods: {
    async handleSubmit() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.submitStatus = 'PENDING'
        let vm = this;
        let names = vm.fullName.trim().split(' ');
        let last_name = names.pop()
        let first_name = names.join(" ")
        await this.$api.customer.register({
          last_name: last_name,
          first_name: first_name,
          fullName: vm.fullName,
          account: vm.account,
          mobile: vm.phone,
          cmnd: vm.cmnd,
          email: vm.email,
          password: vm.password,
          parent_referral_code: vm.parent_referral_code,
          seller_parent_referral_code: vm.seller_parent_referral_code,
        }).then((res) => {
          if (res.success === true) {
            vm.submitStatus = 'OK'
            vm.$message.success(res.message)
            vm.done = true
            vm.user = res.value.customer
          }else {
            alert(res.message)
          }
        }).catch(function (error) {
          // you can call like this in your component
          error.response.data.errors.forEach(function (el) {
            vm.$message.error(el.message)
          })
          vm.submitStatus = null
        })
      }
    }
  },
};
</script>



