<template>
  <div class="p-3">
    <a-spin :spinning="loading" tip="Đang tải dữ liệu..." class="btn-block">
      <div class="custom-control custom-radio px-0 mb-3 position-relative border-custom-radio" v-if="listAddress.length"
           v-for="address in listAddress">
        <input type="radio" :id="'ad_'+address.id" name="address_selected" class="custom-control-input"
               :checked="checked(address)" @click="$store.dispatch('deliveryAddress/setAddressSelected', address)">
        <label class="custom-control-label w-100" :for="'ad_'+address.id">
          <div>
            <div class="p-3 bg-white rounded shadow-sm w-100">
              <div class="d-flex align-items-center mb-2">
                <p class="mb-0 h6">{{ address.full_name }}</p>
                <p class="mb-0 badge badge-success ml-auto" v-if="address.id === addressSelected.id">Đã chọn</p>
                <p class="mb-0 badge badge-warning ml-auto" v-else-if="address.default">Mặc định</p>
              </div>
              <p class="mb-0">SĐT: {{ address.mobile }}</p>
              <p class="mb-0" v-if="address.email">Email: {{ address.email }}</p>
              <p class="text-muted m-0"><b>Xã, Huyện, Tỉnh</b>: {{ $getLocation(address) }}</p>
              <p class="text-info m-0"><b>Địa chỉ google map:</b> <span>{{ address.street }}</span></p>
              <p class="pt-2 m-0 d-flex justify-content-between">
              <span class="small"><a href="javascript:void(0);"
                                     class="text-decoration-none text-danger">Xoá</a></span>
                <span class="small"><a :href="$route.path+'/input?id='+address.id"
                                       class="text-decoration-none text-dark">Chỉnh sửa</a></span>
              </p>
            </div>
          </div>
        </label>
      </div>
      <a-alert v-else
               message="Không tìm thấy kết quả nào phù hợp với điều kiện tìm kiếm của bạn."
               description=""
               type="warning"
      />
      <div class="fixed-bottom">
        <div class="osahan-menu-fotter bg-white border-top">

          <!--<nuxt-link :to="'/carts/'+$route.params.slug+'/delivery-address'" class="btn btn-secondary text-white">Hủy</nuxt-link>-->
          <nuxt-link :to="'/'" class="btn btn-secondary text-white">Hủy</nuxt-link>
          <a-spin :spinning="false" class="btn-block">
            <button type="button" @click="saveMainForm" class="btn btn-success text-white w-100">Tiếp tục</button>
          </a-spin>

        </div>
      </div>
    </a-spin>
  </div>
</template>

<script>
import {mapState, mapGetters} from "vuex";

export default {
  name: 'DeliveryAddressPage',
  layout: 'cart',
  components: {},
  computed: {
    ...mapState({
      listAddress: state => state.deliveryAddress.listAddress,
      addressSelected: state => state.deliveryAddress.addressSelected,
      loading: state => state.deliveryAddress.loading,
      cart: state => state.carts.cart,
    }),
    ...mapGetters({}),
  },
  watch: {},
  mounted() {
  },
  beforeCreate() {
    this.$store.dispatch('deliveryAddress/getAll')
  },
  methods: {
    checked: function (obj) {
      const vm = this
      if (obj.id === vm.cart.delivery_address_id || obj.default) {
        //vm.$store.dispatch('deliveryAddress/setAddressSelected', obj)
        return true
      }
      return false
    },
    saveMainForm: function () {
      const vm = this
      let promise
      if (!this.addressSelected.id) {
        vm.$message.warning('Vui lòng lựa chọn địa chỉ nhận hàng hoặc ấn "Thêm địa chỉ" để tạo mới.')
      } else {
        let payload = {
          ...this.addressSelected,
          type: vm.$route.params.code,
          action: 'delivery-address'

        }
        promise = this.$api.cart.update(payload.id, payload)
        promise
          .then(function (res) {
            if (res.success === true) {
              vm.$message.success(res.message)
              vm.$router.push('/carts/' + vm.$route.params.code + '/agent')
            } else {
              vm.$message.error(res.message)
            }
          }).catch(function (error) {
          if (!vm.$isEmpty(error.response.data) && !vm.$isEmpty(error.response.data.errors)) {
            error.response.data.errors.forEach(function (el) {
              vm.$message.error(el.message)
            })
          } else {
            vm.$message.error(error)
          }
        })
      }

    }
  }
}
</script>
