

<template>
  <div class="p-3 bg-white">
    <a-spin tip="Đang tải dữ liệu..." :spinning="loading">
      <form class="">
        <div class="form-row">
          <div class="col-md-12">
            <label class="form-label">Họ & Tên <small class="text-danger">*</small></label>
            <div class="input-group">
              <input placeholder="Nhập họ và tên tại đây" type="text" v-model="name" class="form-control">
            </div>
          </div>
          <div class="col-md-12">
            <label class="form-label">Số điện thoại <small class="text-danger">*</small></label>
            <div class="input-group">
              <input placeholder="Nhập số điện thoại tại đây" type="text" v-model="mobile" class="form-control">
            </div>
          </div>
          <div class="col-md-12">
            <label class="form-label">Email</label>
            <div class="input-group">
              <input placeholder="Nhập email tại đây" type="email" v-model="email" class="form-control">
            </div>
          </div>
          <div class="col-md-12">
            <label class="form-label">Tỉnh/ Thành Phố <small class="text-danger">*</small></label>
            <div class="input-group">
              <a-select
                show-search
                placeholder="Lựa chọn Tỉnh/ Thành phố"
                style="width: 100%" v-model="city"
                :filter-option="filterOption"
              >
                <a-select-option :value="location.id" v-for="location in cities">{{ location.name }}</a-select-option>
              </a-select>
            </div>
          </div>
          <div class="col-md-12">
            <label class="form-label">Huyện/ Quận <small class="text-danger">*</small></label>
            <div class="input-group">
              <a-select
                show-search
                placeholder="Lựa chọn Huyện/ Quận"
                style="width: 100%" v-model="district"
                :filter-option="filterOption"
              >
                <a-select-option :value="location.id" v-for="location in districts">{{ location.name }}</a-select-option>
              </a-select>
            </div>
          </div>
          <div class="col-md-12">
            <label class="form-label">Xã/ Phường <small class="text-danger">*</small></label>
            <div class="input-group">
              <a-select
                show-search
                placeholder="Lựa chọn Xã/ Phường"
                style="width: 100%" v-model="ward"
                :filter-option="filterOption"
              >
                <a-select-option :value="location.id" v-for="location in wards">{{ location.name }}</a-select-option>
              </a-select>
            </div>
          </div>
          <div class="col-md-12">
            <label class="form-label">Địa chỉ cụ thể <small class="text-danger">*</small></label>
            <div class="input-group">
              <input placeholder="Nhập địa chỉ cụ thể tại đây" type="text" v-model.lazy="street" class="form-control">
              <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary"><i
                  class="icofont-pin"></i></button>
              </div>
            </div>
          </div>
          <a-spin tip="Đang tải dữ liệu..." class="w-100" :spinning="loadingApi">
            <div v-if="listPlaceApi.length">
              <label class="form-label mb-2">Lựa chọn địa chỉ google map ở đây<small class="text-danger">*</small></label>
              <div class="input-group">
                <ul class="list-unstyled">
                  <li v-for="d in listPlaceApi" :data-value="d.formatted_address" class="pb-1">
                    <a href="javascript:void(0);" @click="$store.dispatch('deliveryAddress/setStreet', d.formatted_address);"><img width="10" :src="d.icon" :alt="d.formatted_address"> {{ d.formatted_address }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </a-spin>
          <div class="mb-0 col-md-12 form-group">
            <label class="form-label">Đặt mặc định</label>
            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
              <label class="btn btn-outline-success" :class="{'active': def === 1}">
                <input type="radio" name="options" value="1" v-model="def"> Có
              </label>
              <label class="btn btn-outline-success" :class="{'active': def !== 1}">
                <input type="radio" name="options" value="0" v-model="def"> Không
              </label>
            </div>
          </div>
        </div>
      </form>
      <div class="fixed-bottom">
        <div class="osahan-menu-fotter bg-white border-top">

<!--        <nuxt-link :to="'/carts/'+$route.params.slug+'/delivery-address'" class="btn btn-secondary text-white">Hủy</nuxt-link>-->
        <nuxt-link :to="'/'" class="btn btn-secondary text-white">Hủy</nuxt-link>
        <a-spin :spinning="false" class="btn-block">
          <button type="button" @click="saveMainForm" class="btn btn-success text-white w-100">Lưu lại</button>
        </a-spin>

      </div>
      </div>
    </a-spin>
  </div>
</template>

<script>
import {mapState, mapGetters} from "vuex";

export default {
  name: 'DeliveryAddressInputPage',
  layout: 'cart',
  components: {},
  computed: {
    ...mapState({
      address: state => state.deliveryAddress.address,
      loading: state => state.deliveryAddress.loading,
      loadingApi: state => state.deliveryAddress.loadingAPI,
      listPlaceApi: state => state.deliveryAddress.listPlaceApi,
      cities: state => state.locations.cities,
      districts: state => state.locations.districts,
      wards: state => state.locations.wards,
    }),
    name: {
      get: function () {
        return this.$store.getters["deliveryAddress/name"];
      },
      set: function (val) {
        this.$store.dispatch('deliveryAddress/setName', val);
      }
    },
    mobile: {
      get: function () {
        return this.$store.getters["deliveryAddress/mobile"];
      },
      set: function (val) {
        this.$store.dispatch('deliveryAddress/setMobile', val);
      }
    },
    email: {
      get: function () {
        return this.$store.getters["deliveryAddress/email"];
      },
      set: function (val) {
        this.$store.dispatch('deliveryAddress/setEmail', val);
      }
    },
    city: {
      get: function () {
        return this.$store.getters["deliveryAddress/city"];
      },
      set: function (val) {
        this.$store.dispatch('locations/setCity', val);
        this.$store.dispatch('deliveryAddress/setCity', val);
      }
    },
    district: {
      get: function () {
        return this.$store.getters["deliveryAddress/district"];
      },
      set: function (val) {
        this.$store.dispatch('locations/setDistrict', val);
        this.$store.dispatch('deliveryAddress/setDistrict', val);
      }
    },
    ward: {
      get: function () {
        return this.$store.getters["deliveryAddress/ward"];
      },
      set: function (val) {
        this.$store.dispatch('locations/setWard', val);
        this.$store.dispatch('deliveryAddress/setWard', val);
      }
    },
    street: {
      get: function () {
        return this.$store.getters["deliveryAddress/street"];
      },
      set: function (val) {
        this.$store.dispatch('deliveryAddress/setStreet', val);
        // this.$store.dispatch('deliveryAddress/setPlaceApi')
      }
    },
    def: {
      get: function () {
        return this.$store.getters["deliveryAddress/default"];
      },
      set: function (val) {
        this.$store.dispatch('deliveryAddress/setDefault', parseInt(val));
      }
    },
  },
  watch: {
    'address.id': function () {
      this.$store.dispatch('locations/getDistricts', {city_id: this.address.city_id})
      this.$store.dispatch('locations/getWards', {district_id: this.address.district_id})
    }
  },
  beforeCreate() {
    this.$store.dispatch('deliveryAddress/getDetail', {id: this.$route.query.id})
    this.$store.dispatch('locations/getCities')
  },
  mounted() {

  },
  methods: {
    filterOption: function (input, option) {
      return (option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0)
    },
    saveMainForm: function () {
      const vm = this
      let promise
      let id  = vm.$route.query.id
      if (id) {
        promise = this.$api.deliveryAddress.update(id, this.address)
      }else {
        promise = this.$api.deliveryAddress.create(this.address)
      }

      promise
        .then(function (res) {
          if(res.success === true) {
            vm.$message.success(res.message)
            vm.$router.push('/carts/'+vm.$route.params.code+'/delivery-address')
          }else {
            vm.$message.error(res.message)
          }
        }).catch(function (error) {
        if (!vm.$isEmpty(error.response.data) && !vm.$isEmpty(error.response.data.errors)) {
          error.response.data.errors.forEach(function (el) {
            vm.$message.error(el.message)
          })
        } else {
          vm.$message.error(error)
        }
      })
    }
  }
}
</script>
